/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Custom CSS Rules Start                                                                             */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

img.maxWidth {
	width: 100%;
}
img, .overflowVisible {
	overflow: visible !important;
}
.format-standard img {
	width: 100%;
	height: 100%;
}
.buttonWrapper {
	cursor: pointer !important;
}
.product_title {
    margin-bottom: 0px;
    text-transform: uppercase;
}
.price {
    color: green;
    font-family: arial;
    font-weight: 200;
    font-size: 9px;
    margin-top: -8px;
}
.comments-list {
	list-style-type: none;
}
.comments-avatar {
	float: left;
	width: 25%;
}
.comments-content-container {
	float: right;
	width: 75%;
}
.comments-content p {
	margin-bottom: 2px;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Custom CSS Rules End                                                                               */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
