.product {
    overflow: hidden;
    background: #eaf2eb;
    margin-bottom: 6px;
    padding: 10px;
}
.productImages {
    width: 38%;
    float: left;
}
.productImage {
    width: 90% !important;
}
.productDetails {
    width: 55%;
    float: left;
    text-align: left;
}
.product_title {
    margin-bottom: 0px;
    color: #555 !important;
    font-size: 10px;
    text-transform: uppercase;
}
.price {
    color:green;
    font-family: arial;
    font-weight: 200;
    font-size: 9px;
    margin-top: -8px;
}
.date {
    font-size: 9px;
    margin-top: -8px;
}
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}
/* Panel */
 .panel {
    box-shadow: 0 0 0 1px #eaeaea inset;
    padding: 24px 25px;
    border: none;
    background: none;
    color: #6b6b6b;
    font-weight: 400;
    display: block;
    font-family:"Open Sans", sans-serif;
    margin: 1em 0;
}
.panel.radius {
    border-radius: 3px;
}
.panel.round {
    border-radius: 1000px;
}
.panel p {
    color: #b7b7b7;
    font-size: 14px;
    margin: 0;
    line-height: 1.8;
}
.panel.callout {
    box-shadow: none;
    padding: 24px 25px;
    border: none;
    background: #fc7e78;
}
.panel.callout p {
    color: #fff;
}
.panel.green {
    box-shadow: none;
    background: #bcd4bf;
}
.panel.green p {
    color: #6b6b6b;
}
.panel.bluegreen {
    box-shadow: none;
    background: #a1cdcb;
}
.panel.bluegreen p {
    color: #6b6b6b;
}
.panel.lightblue {
    box-shadow: none;
    background: #92d0ea;
}
.panel.lightblue p {
    color: #6b6b6b;
}
.panel.lightpurple {
    box-shadow: none;
    background: #f6cddc;
}
.panel.lightpurple p {
    color: #6b6b6b;
}
.panel.blue {
    box-shadow: none;
    background: #9dd1e7;
}
.panel.blue p {
    color: #6b6b6b;
}
.panel.yellow {
    box-shadow: none;
    background: #fee5ab;
}
.panel.yellow p {
    color: #6b6b6b;
}
.panel.orange {
    box-shadow: none;
    background: #fcc8b7;
}
.panel.orange p {
    color: #6b6b6b;
}
.panel.grey {
    box-shadow: none;
    background: #e6e7e7;
}
.panel.grey p {
    color: #6b6b6b;
}
.panel.red {
    box-shadow: none;
    background: #eda19c;
}
.panel.red p {
    color: #6b6b6b;
}
.panel.success {
    box-shadow: none;
    background: #c5d87e;
}
.panel.success p {
    color: #6b6b6b;
}
.panel.disabled {
    box-shadow: none;
    background: #e98c87;
}
.panel.disabled p {
    color: #6b6b6b;
}
/* Buttons */
 .button {
    line-height: 2;
}
input[type="submit"], input[type="reset"], input[type="button"] {
    line-height: 1.6;
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
    box-shadow: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    margin-right: 5px;
    padding: 5px 10px;
    border: none;
    background: #3cabda;
    color: #fff;
    font-weight: 400;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.button.radius, button.radius, input[type="submit"].radius, input[type="reset"].radius, input[type="button"].radius {
    border-radius: 3px;
}
.button.round, button.round, input[type="submit"].round, input[type="reset"].round, input[type="button"].round {
    border-radius: 1000px;
}
.button.secondary, button.secondary, input[type="submit"].secondary, input[type="reset"].secondary, input[type="button"].secondary {
    box-shadow: 0 0 0 1px #eaeaea inset;
    background: none;
    color: #b7b7b7;
}
.button.secondary.hover, button.secondary.hover, input[type="submit"].secondary.hover, input[type="reset"].secondary.hover, input[type="button"].secondary.hover {
    background: #eaeaea;
    color: #b7b7b7 !important;
}
.button:active, button:active, input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active {
    box-shadow: none;
}
.button.green, button.green, input[type="submit"].green, input[type="reset"].green, input[type="button"].green {
    background: #7dad83;
}
.button.bluegreen, button.bluegreen, input[type="submit"].bluegreen, input[type="reset"].bluegreen, input[type="button"].bluegreen {
    background: #5eaaa7;
}
.button.lightblue, button.lightblue, input[type="submit"].lightblue, input[type="reset"].lightblue, input[type="button"].lightblue {
    background: #3cabda;
}
.button.lightpurple, button.lightpurple, input[type="submit"].lightpurple, input[type="reset"].lightpurple, input[type="button"].lightpurple {
    background: #de4c81;
}
.button.blue, button.blue, input[type="submit"].blue, input[type="reset"].blue, input[type="button"].blue {
    background: #36a1ce;
}
.button.yellow, button.yellow, input[type="submit"].yellow, input[type="reset"].yellow, input[type="button"].yellow {
    background: #fecd5f;
}
.button.orange, button.orange, input[type="submit"].orange, input[type="reset"].orange, input[type="button"].orange {
    background: #f87e55;
}
.button.grey, button.grey, input[type="submit"].grey, input[type="reset"].grey, input[type="button"].grey {
    background: #e6e7e7;
}
.button.red, button.red, input[type="submit"].red, input[type="reset"].red, input[type="button"].red {
    background: #e57871;
}
.button.success, button.success, input[type="submit"].success, input[type="reset"].success, input[type="button"].success {
    background: #c5d87e;
}
.button.success.hover, button.success.hover, input[type="submit"].success.hover, input[type="reset"].success.hover, input[type="button"].success.hover {
    background: #b8d063;
}
.button.alert, button.alert, input[type="submit"].alert, input[type="reset"].alert, input[type="button"].alert {
    background: #fc7e78;
}
.button.alert.hover, button.alert.hover, input[type="submit"].alert.hover, input[type="reset"].alert.hover, input[type="button"].alert.hover {
    background: #fc5c55;
}
.button.disabled, button.disabled, input[type="submit"].disabled, input[type="reset"].disabled, input[type="button"].disabled {
    background: #e98c87;
}
.button.disabled.hover, button.disabled.hover, input[type="submit"].disabled.hover, input[type="reset"].disabled.hover, input[type="button"].disabled.hover {
    background: #e98c87;
}
.button.hover, button.hover, input[type="submit"].hover, input[type="reset"].hover, input[type="button"].hover {
    background: #34393d;
    color: #fff !important;
}
.button.rounded, button.rounded, input[type="submit"].rounded, input[type="reset"].rounded, input[type="button"].rounded {
    border-radius: 9999px;
}
.button.radius, button.radius, input[type="submit"].radius, input[type="reset"].radius, input[type="button"].radius {
    border-radius: 3px;
}
.button.large, button.large, input[type="submit"].large, input[type="reset"].large, input[type="button"].large {
    font-size: 20px;
}
.button.small, button.small, input[type="submit"].small, input[type="reset"].small, input[type="button"].small {
    font-size: 11px;
}
.button.tiny, button.tiny, input[type="submit"].tiny, input[type="reset"].tiny, input[type="button"].tiny {
    font-size: 10px;
    padding: 8px 25px;
}
/* Forms */
 input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], textarea {
    box-shadow: none;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
    margin: 3px 0 0;
    padding: 10px 10px;
    border: none;
    border-radius: 0;
    background: #eeeeee;
    color: #6b6b6b;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, textarea:focus {
    box-shadow: none;
    outline: none;
}
input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover, textarea:hover {
    background: #f3f3f3;
}
.full-width {
    width: 100%;
}
.full-width input[type="email"], .full-width input[type="number"], .full-width input[type="password"], .full-width input[type="search"], .full-width input[type="tel"], .full-width input[type="text"], .full-width input[type="url"], .full-width input[type="color"], .full-width input[type="date"], .full-width input[type="datetime"], .full-width input[type="datetime-local"], .full-width input[type="month"], .full-width input[type="time"], .full-width input[type="week"], .full-width textarea {
    width: 100%;
}
form p {
    margin: 1.5em 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #333333;
    font-weight: 300;
    font-family:"Raleway", sans-serif;
    line-height: 1.3;
}
.subheader {
    color: #3cabda;
}

#content h2:first-child {
    margin-top: .5em;
}

h2 {
    margin-top: .8em;
    margin-bottom: .5em;
    font-size: 28px;
}

h2.subheader {
    font-size: 24px;
}

h3 {
    margin-top: 0.2em;
    margin-bottom: 0.5em;
    font-size: 22px;
}

h3.subheader {
    font-size: 20px;
}

h4 {
    margin-top: .4em;
    margin-bottom: 0.5em;
    font-size: 18px;
}

h4.subheader {
    font-size: 15px;
}

h5 {
    margin-top: .8em;
    margin-bottom: 0.5em;
    font-size: 15px;
}

h5.subheader {
    font-size: 14px;
}

h6 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 14px;
}
h6.subheader {
    font-size: 12px;
}