<div class="article-view">

<h3> AIR JORDAN XV - Released November 1999 </h3>

<img src="images/stories/jordan-15.jpg"/>

<p>The Jordan XV was the first shoe released after its namesakes retirement, but despite missing its endorser, the Air Jordan was a decent product that sold fairly well. With a designer look, based on NASAs 1950s X-15 aircraft, the look of the shoe was a radical change from its predecessors.

</p>

<p>
Modeled after the ultra-fast X-15 fighter jet, these aerodynamic kicks took off like a shot. Despite Michael's absence from the game, these Air Jordans were as popular as ever.
</p>
</div>