<div class="article-view">

<h3> AIR JORDAN VI - Released February 1991 </h3>

<img src="images/stories/jordan-6.jpg"/>

<p> Yet another Hatfield design.  The Jordan VI kept the clear soles and lacelocks from the Jordan V, but added a rubber tongue with two holes for getting the shoe on.

The pattern on the shoe was interesting. If you look at the shoe the right way, the number 23 appears with the number 2 standing upright on the back of the shoe and the number 3 laying down, facing the ground near the laces.</p>

<p> The retro release of the Jordan VI is exactly like the original release, although a an incorrect sample caused quite an uproar among fans of the Air Jordan line. </p>

<p> After seven years in the league, Michael leads Chicago to a 4-1 victory over Los Angeles for their first Championship. Along the way, he snags his fifth scoring title, his second MVP Award, is picked for the All-Star Team and is awarded the Finals MVP. </p>

<p> What is there to say else than Hatfield created another classic, the jordan VI . This time with a rubber tounge featuring two holes which the bearer could use to easily get the kicks on. He kept the idea with clear rubber soles and lace locks from the V's but apart from that this felt like a brand new Jordan design.

</p>
</div>