<div class="article-view">

<h3> AIR JORDAN XX9 - Released 2014</h3>

<img src="images/stories/jordan-29.jpg"/>

<p>
The Air Jordan XX9, also designed by Hatfield, released in September 2014 in both an elephant print and a knit edition. The shoe has already been debuted in the NBA by Russell Westbrook and Kawhi Leonard. The shoe has Flight Web for superior lockdown, a performance woven upper for comfort, support, strength, and protection, and a re-engineered Flight Plate. The XX9 also released in a pack alongside the iconic Air Jordan XI on December 23, 2014 called the "Ultimate Gift of Flight" pack
</p>


</div>