<div class="article-view">

<h3> AIR JORDAN XIV - Released November 1998 </h3>

<img src="images/stories/jordan-14.jpg"/>

<p> The design of the Air Jordan XIV, inspired by Michael Jordans Ferrari 550M, was a stroke of sheer genius on the part of Hatfield and fitting shoe to accompany Jordans second retirement from the NBA.

</p>

<p>
The Jordan XIV is a sleek, performance driven shoe that is as close to perfection as weve tested.

Features include, laces with metal aglets (the tips on the ends of the laces) and seven Jumpman logos per shoes equaling a total of fourteen.  Overall, the Jordan XIV is a stylish, lightweight shoe that is perhaps the best Air Jordan model of them all.
</p>

<p>

Inspired by Michael's love of cars, the AJ XIV takes on the stylish design of Michael's very own Ferrari 550 M. As usual, it's a shoe to inspire greatness in all players.

The design of the Air Jordans XIV was inspired by Michaels car, the Ferrari 550 M, and was made by Tinker Hatfield together with Mark Smith. A fantastic stylish design and an awesome shoe for Michael to end his NBA career in.
</p>

<p>
This was the first Air Jordans XIV that would feature laces with metal tips. Something that both the XV's and XVI's designs also would use.
</p>

<p>
The Air Jordan XIV 's also begun the trend of having a number of things that would count towards the model# of the shoe. On the Air Jordan XIV 's each shoe had seven jumpmans; ferrari-like shield, insole, sole, back, 2 x lacetip and front. Counting them on both shoes makes it a total of 14 (XIV) Jumpmans. That summer, I was getting different reports about the price; some said $165, others said $150. When the shoe came out in Fall 1998, the ones that said $150 were right! (I'd suspect that Nike decided that a $165 shoe wouldn't help public relations. On the other hand, who would ever think that the Air Jordan market would be price sensitive?)


</p>

</div>