<div style="background: url(images/stories/jordan-21-card.jpg) no-repeat center / cover !important;">
  <div class="swiper-container slider-sliced slider-jordan swiper-container-horizontal">
    <div class="swiper-wrapper" style="transform: translate3d(-1261px, 0px, 0px); transition-duration: 0ms;">
      <div class="swiper-slide swiper-slide-prev" style="width: 1261px;">
        <div class="slider-bottom-right valign-wrapper">
          <div class="valign center-align width-100 p-b-5em">
            <h2 class="uppercase">Air Jordan 21</h2>
            <p>Released 2006 </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-active" style="width: 1261px;">
        <div class="slider-bottom-left valign-wrapper">
          <div class="valign left-align width-100 p-b-5em">
            <p> The Air Jordan 21 dropped in 2006 with the intention of highlighting Michael Jordan’s passions. Much like the Jordan 18, his affections for motor sports and Italian-made dress shoes with premium leather and high-quality suede were at the forefront
              of the 21’s design. </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span></div>
  </div>
</div>
</div>
