<div class="article-view">

<h3> AIR JORDAN XVII - Released February 2002 </h3>

<img src="images/stories/jordan-17.jpg"/>

<p>
According to jumpman23.com,  the Air Jordan XVII design was inspired by; "the fine details from an Aston Martin, the smooth lines and flow of a jazz solo and the long Air Jordan history of innovations in style." 

</p>

<p>
Like the Jordan XVIs, the Jordan XVII came equipped with a removable midfoot cover, giving the wearer two looks for this model.  This Jordan model came in an embossed metal carrying case with a cd rom.  One of the most expensive models from the Jordan Brand of shoes, their original retail price was $200.  While this may seem overpriced, the shoe seems to have been fairly popular.
</p>

<p>
"I am returning as a player to the game I love". Seeing an opportunity to teach the younger players, Michael returns to the game with a new team but that same drive. Leading Washington in points per game, scoring his 30,000th career point, notching up 51 points in a single game, Michael reminds the world he can still dunk.
</p>

<p>
The Air Jordan XVII design was said to be inspired by three things; "the fine details from an Aston Martin, the smooth lines and flow of a jazz solo and the long Air Jordan history of innovations in style".
</p>

<p>
Well, if the Air Jordan XVI's were equipped with a gaiter/shroud that was removable and that would cover almost more than half of the shoe, the Air Jordan XVII 's were no worse. With a removable midfoot cover you were once again given the power to choose whether or not the laces should be visible!
</p>


</div>