<div class="article-view">

<h3> AIR JORDAN IV - Released February 1989</h3>

<img src="images/stories/jordan-4.jpg"/>

<p> The design of the Air Jordan IV,  courtesy of Tinker Hatfield, kept a lot of the feeling from the third model. It wasnt as innovative or groundbreaking as the previous designs, but by the this time the Air Jordan shoes line had gained the publics attention, leading to sell outs everywhere.  The Jordan IV was even featured in director Spike Lees movie Do The Right Thing. Apparently, the director really liked these shoes and decided to shoe his allegiance to them by giving the Jordans a cameo. </p>

<p> One of the characters in the movie has his new Air Jordan IV shoes scuffed by a bicycle rider.  He places his shoe upon a fire-hydrant and cleans it with a toothbrush.  The Jordan IV was retroed 1999 in white/black and black/cement grey. Stores sold out after a few hours and demand was high; a complete change from the retro versions of Jordan I, Jordan II, and Jordan III.   </p>

</div>