<div class="article-view">

<h3> AIR JORDAN XIX - Released 2004</h3>

<img src="images/stories/jordan-19.jpg"/>

<p>
The futuristic Air Jordan XIX continues in the grand Jordan tradition of taking basketball technology to where no other shoe has been before. This latest model sets a higher standard in meeting performance needs with new materials and innovations. Modeled after a black mamba snake, the strong, durable and completely functional Tech Flex midfoot shroud comfortably forms over the foot without adding weight and remaining completely breathable. Look for superstars Jason Kidd, Gary Payton and Carmelo Anthony in the Air Jordan XIX during the rest of the 2004 NBA season. 
</p>




</div>