<div class="article-view">

<h3> AIR JORDAN II - Released November 1986 </h3>


<img src="images/stories/jordan-2.jpg"/>

<p> The Air Jordan II was designed by Bruce Kilgore and just as its predecessor it showed a great innovative design. The low-tops were produced in Italy and and were far more stylish than the ordinary basketball shoe. </p>

<p>Surprisingly this is the only original Air Jordan ever that has not been made in a black version. While there were plans to release the Air Jordan II in black, these never became a reality for the original release of the Jordan II. </p>

<p>The white/black AJ II's were retroed in 1994 in limited quantities. Just like the Air Jordan Retro I they sold very poorly and were often found deeply discounted at shoe stores nationwide. The Jordan II have been recently re-retroed, finally in black leather.  The Jordan Retro II is also available in white/varsity red-black.</p>

<p>Along with a return trip to the All-Star game, Michael wins his first in a series of scoring titles, as well as the Slam-Dunk Championship. He becomes the first player since the 1960s to top 3,000 points in a single season. He plays nine straight games with 40 points or more. In short, Michael informs everyone why he's destined to become the with 40 points or more. In short, Michael informs everyone why he's destined to become the greatest player ever.</p>

</div>