<div style="background: url(images/stories/jordan-8-card.jpg) no-repeat center / cover !important;">
<div class="swiper-container slider-sliced slider-jordan swiper-container-horizontal">
  <div class="swiper-wrapper" style="transform: translate3d(-1261px, 0px, 0px); transition-duration: 0ms;">
    <div class="swiper-slide swiper-slide-prev" style="width: 1261px;">
      <div class="slider-bottom-right valign-wrapper">
        <div class="valign center-align width-100 p-b-5em">
          <h2 class="uppercase">Air Jordan 8</h2>
          <p>Released February 1993 </p>
        </div>
      </div>
    </div>
    <div class="swiper-slide swiper-slide-active" style="width: 1261px;">
      <div class="slider-bottom-left valign-wrapper">
        <div class="valign left-align width-100 p-b-5em">
          <p> The eighth model of the Air Jordan could politely be called chunky. The base of the shoe was clearly modeled on the design of the Jordan XVII,  but the Air Jordan VIII added more colors and details.
          </p>
        </div>
      </div>
    </div>
    <div class="swiper-slide swiper-slide-next" style="width: 1261px;">
      <div class="slider-bottom-right valign-wrapper">
        <div class="valign right-align width-100 p-b-5em">
          <p>Thick padding for and criss-crossing Velcro straps over the upper made for a great fit but some players experienced problems with heat buildup and a clumsy feeling due to the weight.</p>
        </div>
      </div>
    </div>
    <div class="swiper-slide swiper-slide-next" style="width: 1261px;">
      <div class="slider-bottom-right valign-wrapper">
        <div class="valign right-align width-100 p-b-5em">
          <p> The Jumpman logo on this model vaguely resembles a Peace sign, especially on the white/grey Retro version with its shaggy carpet-like jumpman, leading to the Jordan VIIIs nickname: the flower-power Air Jordan. </p>
        </div>
      </div>
    </div>
    <div class="swiper-slide swiper-slide-next" style="width: 1261px;">
      <div class="slider-bottom-right valign-wrapper">
        <div class="valign right-align width-100 p-b-5em">
          <p> Michael Jordan continues his unmatched ability to take control of the game and inspire greatness in his teammates. A seven-time scoring champion, he achieves his highest finals scoring average with 41 points against Phoenix to lead Chicago to a third Championship.</p>
        </div>
      </div>
    </div>
    <div class="swiper-slide swiper-slide-next" style="width: 1261px;">
      <div class="slider-bottom-right valign-wrapper">
        <div class="valign right-align width-100 p-b-5em">
          <p>  This is the 1993 version, and it originally sold for $140. These are well-known for the two straps that go across the vamp. </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span></div>
</div>
</div>
</div>
