<div style="background: url(images/stories/jordan-30-card.jpg) no-repeat center / cover !important;">
  <div class="swiper-container slider-sliced slider-jordan swiper-container-horizontal">
    <div class="swiper-wrapper" style="transform: translate3d(-1261px, 0px, 0px); transition-duration: 0ms;">
      <div class="swiper-slide swiper-slide-prev" style="width: 1261px;">
        <div class="slider-bottom-right valign-wrapper">
          <div class="valign center-align width-100 p-b-5em">
            <h2 class="uppercase">Air Jordan 30</h2>
            <p>Released 2016 </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-active" style="width: 1261px;">
        <div class="slider-bottom-left valign-wrapper">
          <div class="valign left-align width-100 p-b-5em">
            <p> The Air Jordan XXX (30) debuted on January 14, 2016 at an exclusive media event in Chicago. It was again designed by Tinker Hatfield. The first colorway of the shoe released on February 16.[18] The shoe consists of an upper and outsole very
              similar to that of the XX9 of the previous year. </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-active" style="width: 1261px;">
        <div class="slider-bottom-left valign-wrapper">
          <div class="valign left-align width-100 p-b-5em">
            <p> The upper is a combination of performance woven and flyknit that is new for the brand in 2016, and also has a flyknit-constructed ankle collar that extends slightly past where the collar of the shoe would normally be. Jordan brand has also
              brought back functional Dynamic Fit in the lacing system. The outsole/midsole is almost identical to the XX9, with very minor technical tweaks. </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-active" style="width: 1261px;">
        <div class="slider-bottom-left valign-wrapper">
          <div class="valign left-align width-100 p-b-5em">
            <p> The outsole boasts a more noticeable change, with a different traction pattern unique to this shoe, while the midsole remains almost entirely the same. The only difference in the midlsole cushioning setup from the Jordan XX9 is a material
              change in the Flightplate setup, which is now named Flightspeed and is constructed of a plastic rather than carbon fiber for more flexibility while remaining structural integrity. </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span></div>
  </div>
</div>
</div>
