<div class="article-view">

<h3> AIR JORDAN VII - Released February 1992 </h3>

<img src="images/stories/jordan-7.jpg"/>

<p>The Air Jordan VII seems to be Hatfields fusion of the Nike Air Huarache and the previous Jordan model, the Jordan VI.  The Nike Huarache technology was used to create a locked-down fit which sneakerheads really loved, but the visible air sole and the Nike Air logo disappeared, creating joy for some and consternation for others. This is the only shoe in the Jordan shoe line that has been released with the number 9 instead of the number 23.  The number 9 was his Olympic jersey number and this model, featuring Olympic colors and jersey number, was a special edition. </p>

<p> The Air Jordan VII was met with strong feelings of love or hate. This is the first of the Air Jordans to create division among the ranks of loyal fans and customers. </p>

<p>Hatfield created a shoe, the Air Jordan VII with many similarities with the previous Air Jordan model. What was unique with the VII's was that they used some of the Nike Huarache technology to create a Air Jordan VII that really stuck to your foot. What also made you either frown or smile was the fact that the visible air sole, the Nike Air logo and the yellowing soles all were gone. </p>

<p> 

When Michael Jordan went to the Olympics with the Dream Team, Nike released a special olympic color combo of the Air Jordan VII 's. This model also featured Jordan's olympic jersey number, 9 which made it very special since all of the previous Air Jordan models that featured his jersey number had always been either stitched or printed with the number 23.

</p>
</div>