<div style="background: url(images/stories/jordan-18-card.jpg) no-repeat center / cover !important;">
<div class="swiper-container slider-sliced slider-jordan swiper-container-horizontal">
  <div class="swiper-wrapper" style="transform: translate3d(-1261px, 0px, 0px); transition-duration: 0ms;">
    <div class="swiper-slide swiper-slide-prev" style="width: 1261px;">
      <div class="slider-bottom-right valign-wrapper">
        <div class="valign center-align width-100 p-b-5em">
          <h2 class="uppercase">Air Jordan 18</h2>
          <p>Released February 2003 </p>
        </div>
      </div>
    </div>
    <div class="swiper-slide swiper-slide-active" style="width: 1261px;">
      <div class="slider-bottom-left valign-wrapper">
        <div class="valign left-align width-100 p-b-5em">
          <p>
            The Jordan XVIII is the brainchild of new Senior Jordan Footwear Designer, Tate Kuebis.  The inspiration for this model is said to be a number of things, but primarily a design based on the sleek lines of the racing world and the quality of Italian dress shoes. Mostly, the Air Jordan XVIII is known for its unique accessories, a pull-out opening box and a brush and towel for cleaning the shoes.
          </p>
        </div>
      </div>
    </div>

    <div class="swiper-slide swiper-slide-next" style="width: 1261px;">
      <div class="slider-bottom-right valign-wrapper">
        <div class="valign right-align width-100 p-b-5em">
          <p>
          Drive the 2003 Air Jordan. A one-piece suede upper, double stack Zoom Air, and the Carbon Comfort control plate all combine to create the ultimate performance shoe built to withstand the demands of the court.
          </p>
        </div>
      </div>
    </div>

    <div class="swiper-slide swiper-slide-next" style="width: 1261px;">
      <div class="slider-bottom-right valign-wrapper">
        <div class="valign right-align width-100 p-b-5em">
          <p>
          Creator of the design of the Air Jordan XVIII was Tate Kuerbis (Jordan Senior Footwear Designer). A person that had been part of the Air Jordan footwear design team since 1999 and with Nike since 1995. The inspiration of the design is a combination for a number of things.
          </p>
        </div>
      </div>
    </div>

    <div class="swiper-slide swiper-slide-next" style="width: 1261px;">
      <div class="slider-bottom-right valign-wrapper">
        <div class="valign right-align width-100 p-b-5em">
          <p>
           Sleek racing lines of the auto world, Carbon fiber-based monocoque of F1 race cars, Race car driving shoes (rubber heel wrap) and Fine Italian dress shoes (bold stitching on the soles).
          </p>
        </div>
      </div>
    </div>

  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span></div>
</div>
</div>
</div>
