<div class="article-view">

<h3> AIR JORDAN I - Released March 1985 </h3>

<img src="images/stories/jordan-1.jpg"/>

<p>The Air Jordan I was designed by Peter Moore and marked a new era in the design of basketball shoes. The black/red model was banned by the NBA due to NBA color rules and this actually helped to create more publicity and more interest for the shoes. Whether this was a marketing ploy from Nike or not, it helped to generate the interest that, to date, has supported nineteen different Jordan shoes, retro versions, and limited editions. </p>

<p>The original Air Jordan I came with a double set of laces to match the two colors of  the shoe.  For example, the black/red's came with one set of black laces and one set of red laces.  </p>

<p>The white/black-red and black/red Jordan I was released as a retro in 1994 and sold very poorly, however in 2001 they released them again in patent leather and the demand was much  greater.  Despite the changing of the times, the Air Jordan line has managed to survive controversy and changes in fashion while producing a quality basketball shoe. </p>

</div>