<div class="article-view">

<h3> AIR JORDAN XXXI - Released 2016</h3>

<img src="images/stories/jordan-31.jpg"/>

<p>
The Air Jordan XXXI (31) was unveiled on July 20, 2016. The sneaker is heavily influenced by the original air Jordan having a leather upper and both a Nike air swoosh and a jump man.[19] Its first retail debut was on September 3, 2016 in the "banned" colorway for $185 alongside its air Jordan 1 counterpart.[19] Notable appearances of the AJ 31 include the "USA" colorway worn during the 2016 Olympic basketball tournament by members of team USA.[20]Basketball at the 2016 Summer Olympics – Men's team rosters
</p>


</div>