<div style="background: url(images/stories/jordan-11-card.jpg) no-repeat center / cover !important;">
  <div class="swiper-container slider-sliced slider-jordan swiper-container-horizontal">
    <div class="swiper-wrapper" style="transform: translate3d(-1261px, 0px, 0px); transition-duration: 0ms;">
      <div class="swiper-slide swiper-slide-prev" style="width: 1261px;">
        <div class="slider-bottom-right valign-wrapper">
          <div class="valign center-align width-100 p-b-5em">
            <h2 class="uppercase">Air Jordan 11</h2>
            <p>Released November 1995 </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-active" style="width: 1261px;">
        <div class="slider-bottom-left valign-wrapper">
          <div class="valign left-align width-100 p-b-5em">
            <p> The Air Jordan XI heralded a triple comeback; Jordans return to the NBA, the return of designer Tinker Hatfield, and disappointingly, the return of the unpopular clear soles that yellowed with age. </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-active" style="width: 1261px;">
        <div class="slider-bottom-left valign-wrapper">
          <div class="valign left-align width-100 p-b-5em">
            <p>While the design of this model was premium, the quality was sadly lacking and despite the release of low-top versions, the Jordan XI was not the most popular of all the Air Jordan shoes. </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-next" style="width: 1261px;">
        <div class="slider-bottom-right valign-wrapper">
          <div class="valign right-align width-100 p-b-5em">
            <p> When the Jordan XI's were retroed in 2000-2001 they became the fastest selling, most popular Jordan retros of all.</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-next" style="width: 1261px;">
        <div class="slider-bottom-right valign-wrapper">
          <div class="valign right-align width-100 p-b-5em">
            <p> Michael's intuitive insight of bringing a "formal look" to the court, served as the inspiration for this remarkable rendition. Like the man, the Air Jordan XI is sophisticated and without equal.</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-next" style="width: 1261px;">
        <div class="slider-bottom-right valign-wrapper">
          <div class="valign right-align width-100 p-b-5em">
            <p> But when the design stunned everyone, the durability and quality was disappointing. Again the clear rubber soles easily yellowed and the patent leather also tended to crack up and/or easily get scratched. The Air Jordan X1 had top design but
              it was lacking quality.</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-next" style="width: 1261px;">
        <div class="slider-bottom-right valign-wrapper">
          <div class="valign right-align width-100 p-b-5em">
            <p> Michael was fined $5000 per game during the semifinals in 1995 for wearing the white/black-dk concord ones. He wore them twice and this was looked upon as uniform violation as the rest of the Bulls wore entirely black shoes. (This kind of
              brings back memories from when the I's were banned from the NBA.) </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-next" style="width: 1261px;">
        <div class="slider-bottom-right valign-wrapper">
          <div class="valign right-align width-100 p-b-5em">
            <p> When the Air Jordan XI 's were retroed in 2000-2001 they would prove to become the retro that sold in the highest quantity ever and also the fastest selling Air Jordan's of all time. </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-next" style="width: 1261px;">
        <div class="slider-bottom-right valign-wrapper">
          <div class="valign right-align width-100 p-b-5em">
            <p>The back of the Air Jordan 11 is notched, but the notch is covered with a stretchable fabric. </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-next" style="width: 1261px;">
        <div class="slider-bottom-right valign-wrapper">
          <div class="valign right-align width-100 p-b-5em">
            <p>The notch has a stylized "23" (like a light-emitting diode display, but very stretched) imprinted on it. This model originally came out in the fall of 1995 and sold for $125.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span></div>
  </div>
</div>
</div>
</p>
</div>
