<div class="article-view">

<h3> AIR JORDAN 2010 - Released 2010</h3>

<img src="images/stories/jordan-25.jpg"/>

<p>
This is the 25th anniversary of the Air Jordan brand, and although commonly called the Jordan 2010s, is also referred to as Air Jordan XX5/XXV. This model of shoe was announced on November 12, 2009, for a release date of February 13, 2010, retailing for US$170. Dwyane Wade is endorsing the AJ 2010. <br/>

The base of the each mid-sole has stylized text that when combined reads: "I've failed over and over and over again in my life. And that is why I succeed." This quote was originally attributed to Michael Jordan, and is a reference to an advertising campaign that aired in 1997 with Jordan detailing his failures that led to his success in his career. <br/>

The Air Jordan 2010 was originally released in 2010. It has not been retro-ed.
</p>


</div>