<div style="background: url(images/stories/jordan-9-card.jpg) no-repeat center / cover !important;">
<div class="swiper-container slider-sliced slider-jordan swiper-container-horizontal">
  <div class="swiper-wrapper" style="transform: translate3d(-1261px, 0px, 0px); transition-duration: 0ms;">
    <div class="swiper-slide swiper-slide-prev" style="width: 1261px;">
      <div class="slider-bottom-right valign-wrapper">
        <div class="valign center-align width-100 p-b-5em">
          <h2 class="uppercase">Air Jordan 9</h2>
          <p>Released February 1994 </p>
        </div>
      </div>
    </div>
    <div class="swiper-slide swiper-slide-active" style="width: 1261px;">
      <div class="slider-bottom-left valign-wrapper">
        <div class="valign left-align width-100 p-b-5em">
          <p> On October 6th 1993, Michael Jordan announced his decision to retire from the NBA, spelling potential doom for the signature shoe line.
          </p>
        </div>
      </div>
    </div>
    <div class="swiper-slide swiper-slide-active" style="width: 1261px;">
      <div class="slider-bottom-left valign-wrapper">
        <div class="valign left-align width-100 p-b-5em">
          <p>The Jordan IX was a durable and plain shoe at first glance, but it came with lots of interesting details such as the large 23 stitched on the back of the shoe and the multi-lingual words on the soles of both shoes.  The words and the available translations are listed below.
          </p>
        </div>
      </div>
    </div>
    <div class="swiper-slide swiper-slide-next" style="width: 1261px;">
      <div class="slider-bottom-right valign-wrapper">
        <div class="valign right-align width-100 p-b-5em">
          <p> Nine years of refinement produces the 1993 Air Jordan shoe. Michael helps design the first Air Jordan that he never wears in competition. Michael announces he will turn his talents to the sport of baseball. Doing what he's always done - playing for the love of the game.
          </p>
        </div>
      </div>
    </div>
    <div class="swiper-slide swiper-slide-next" style="width: 1261px;">
      <div class="slider-bottom-right valign-wrapper">
        <div class="valign right-align width-100 p-b-5em">
          <p> The Jordan IX being released was plain and sturdy and was the first Jordan IX model that Michael did not wear in an NBA seasonal game (due to his retirement in November 1993). </p>
        </div>
      </div>
    </div>
    <div class="swiper-slide swiper-slide-next" style="width: 1261px;">
      <div class="slider-bottom-right valign-wrapper">
        <div class="valign right-align width-100 p-b-5em">
          <p> They originally sold for $125. (Other people I knew agreed that these were great shoes.) Here is the Air Jordan 9, updated in 2002 to the Washington Wizards colors.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span></div>
</div>
</div>
</div>
</p>
</div>
