<div class="article-view">

<h3> AIR JORDAN XX3 - Released 2008</h3>

<img src="images/stories/jordan-23.jpg"/>

<p>
The number 23 will forever be synonymous with Michael Jordan. So when it was time to create his 23rd signature sneaker for 2008, Tinker Hatfield cooked up another tribute to His Airness and his storied career. Jordan’s signature is embossed at the toe, a stitched pattern consumes the upper to maintain Jordan’s affection for a dress-shoe appearance, and a smoothly polished panel grips the sneakers from toe to heel.
</p>


</div>