<div class="article-view">

<h3> AIR JORDAN XI - Released November 1995</h3>

<img src="images/stories/jordan-11.jpg"/>

<p> The Air Jordan XI heralded a triple comeback; Jordans return to the NBA, the return of designer Tinker Hatfield, and disappointingly, the return of the unpopular clear soles that yellowed with age.

While the design of this model was premium, the quality was sadly lacking and despite the release of low-top versions, the Jordan XI was not the most popular of all the Air Jordan shoes.
</p>

<p> When the Jordan XI's were retroed in 2000-2001 they became the fastest selling, most popular Jordan retros of all.

Michael's intuitive insight of bringing a "formal look" to the court, served as the inspiration for this remarkable rendition. Like the man, the Air Jordan XI is sophisticated and without equal.</p>

<p> But when the design stunned everyone, the durability and quality was disappointing. Again the clear rubber soles easily yellowed and the patent leather also tended to crack up and/or easily get scratched. The Air Jordan X1 had top design but it was lacking quality.</p>

<p>
Michael was fined $5000 per game during the semifinals in 1995 for wearing the white/black-dk concord ones. He wore them twice and this was looked upon as uniform violation as the rest of the Bulls wore entirely black shoes. (This kind of brings back memories from when the I's were banned from the NBA.)
</p>

<p>
When the Air Jordan XI 's were retroed in 2000-2001 they would prove to become the retro that sold in the highest quantity ever and also the fastest selling Air Jordan's of all time. The back of the Air Jordan 11 is notched, but the notch is covered with a stretchable fabric. The notch has a stylized "23" (like a light-emitting diode display, but very stretched) imprinted on it. This model originally came out in the fall of 1995 and sold for $125.

</p>
</div>