<div class="article-view">

<h3> AIR JORDAN 2009 - Released 2009</h3>

<img src="images/stories/jordan-24.jpg"/>

<p>
The Air Jordan 2009 was designed by Jason Mayden and was the first Air Jordan model named after the year of its release rather than its numbered system. Inspired by Jordan's defensive focus, the shoe incorporates Articulated Propulsion Technology used by Paralympian runners. It also features a durable pleated silk upper, protective TPU chassis, carbon fiber arch plate and Zoom Air structure. The shoe was released on January 31, 2009.
</p>


</div>