<div style="background: url(images/stories/jordan-10a-card.jpg) no-repeat center / cover !important;">
  <div class="swiper-container slider-sliced slider-jordan swiper-container-horizontal">
    <div class="swiper-wrapper" style="transform: translate3d(-1261px, 0px, 0px); transition-duration: 0ms;">
      <div class="swiper-slide swiper-slide-prev" style="width: 1261px;">
        <div class="slider-bottom-right valign-wrapper">
          <div class="valign center-align width-100 p-b-5em">
            <h2 class="uppercase">Air Jordan 10</h2>
            <p>Released November 1994 </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-active" style="width: 1261px;">
        <div class="slider-bottom-left valign-wrapper">
          <div class="valign left-align width-100 p-b-5em">
            <p> Nike was caught off guard with Michael Jordans sudden return to the court. Before releasing the Jordan X, they re-released several older Jordan models. The Air Jordan X is nothing special and relatively plain even when you stop to consider
              that the white/black/light steel grey colorway looks like it just broke out of prison or a herd of zebras. The design is clearly a combination of several older Jordans. </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-active" style="width: 1261px;">
        <div class="slider-bottom-left valign-wrapper">
          <div class="valign left-align width-100 p-b-5em">
            <p> The Air Jordan VII was met with strong feelings of love or hate. This is the first of the Air Jordans to create division among the ranks of loyal fans and customers.</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-next" style="width: 1261px;">
        <div class="slider-bottom-right valign-wrapper">
          <div class="valign right-align width-100 p-b-5em">
            <p> Expecting never to see the man in the game again, this year's shoe was released with a retrospective of MJ's career. The sole of this new AJ listed some of Michael's greatest achievements from each year of his professional career. On March
              19, 1995, after months of rumors, Michael ended his retirement and returned to the court.</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-next" style="width: 1261px;">
        <div class="slider-bottom-right valign-wrapper">
          <div class="valign right-align width-100 p-b-5em">
            <p> It's apparent that Nike wasn't expecting to see Jordan back in the game so soon. They started to re-release older model's of the Air Jordan series (I, II, III) and the Air Jordan X 's soles featured an honor or an award from each year Michael
              had spent in the NBA. </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-next" style="width: 1261px;">
        <div class="slider-bottom-right valign-wrapper">
          <div class="valign right-align width-100 p-b-5em">
            <p> This shoe is best remembered as the one that listed various of Michael Jordan's basketball feats in the light gray bars of the sole pattern. (As the kid versions got smaller and smaller, fewer events got listed.) This model came out in the
              fall of 1994 and originally sold for $125. There are some reports that Michael Jordan didn't find this shoe very comfortable.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span></div>
  </div>
</div>
</div>
</p>
</div>
