<div style="background: url(images/stories/jordan-5-card.jpg) no-repeat center / cover !important;">
<div class="swiper-container slider-sliced slider-jordan swiper-container-horizontal">
  <div class="swiper-wrapper" style="transform: translate3d(-1261px, 0px, 0px); transition-duration: 0ms;">
    <div class="swiper-slide swiper-slide-prev" style="width: 1261px;">
      <div class="slider-bottom-right valign-wrapper">
        <div class="valign center-align width-100 p-b-5em">
          <h2 class="uppercase">Air Jordan 5</h2>
          <p>Released February 1990 </p>
        </div>
      </div>
    </div>
    <div class="swiper-slide swiper-slide-active" style="width: 1261px;">
      <div class="slider-bottom-left valign-wrapper">
        <div class="valign left-align width-100 p-b-5em">
          <p> The clear rubber sole also seen  in later Air Jordan Models such as VI, XI and XVI  has upset many collectors due to its tendency to turn yellow. These Jordan shoes were retroed in late 1999 in white/black-fire red and black/black-met silver meeting great demand  and enthusiasm in the marketplace. Retro+ models were also produced; one model featuring Michael Jordans high school colors. </p>
        </div>
      </div>
    </div>
    <div class="swiper-slide swiper-slide-next" style="width: 1261px;">
      <div class="slider-bottom-right valign-wrapper">
        <div class="valign right-align width-100 p-b-5em">
          <p> Being cut from his high school basketball team just made him work harder. Michael scores a career-high 69 points in one game against Cleveland. He is chosen for the First Team, the All-Star Team, and wins his fourth scoring title.  </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span></div>
</div>
</div>
</div>
