<div style="background: url(images/stories/jordan-6-card.jpg) no-repeat center / cover !important;">
<div class="swiper-container slider-sliced slider-jordan swiper-container-horizontal">
  <div class="swiper-wrapper" style="transform: translate3d(-1261px, 0px, 0px); transition-duration: 0ms;">
    <div class="swiper-slide swiper-slide-prev" style="width: 1261px;">
      <div class="slider-bottom-right valign-wrapper">
        <div class="valign center-align width-100 p-b-5em">
          <h2 class="uppercase">Air Jordan 6</h2>
          <p>Released February 1991 </p>
        </div>
      </div>
    </div>
    <div class="swiper-slide swiper-slide-active" style="width: 1261px;">
      <div class="slider-bottom-left valign-wrapper">
        <div class="valign left-align width-100 p-b-5em">
          <p> Yet another Hatfield design.  The Jordan VI kept the clear soles and lacelocks from the Jordan V, but added a rubber tongue with two holes for getting the shoe on. </p>
        </div>
      </div>
    </div>
    <div class="swiper-slide swiper-slide-next" style="width: 1261px;">
      <div class="slider-bottom-right valign-wrapper">
        <div class="valign right-align width-100 p-b-5em">
          <p> The pattern on the shoe was interesting. If you look at the shoe the right way, the number 23 appears with the number 2 standing upright on the back of the shoe and the number 3 laying down, facing the ground near the laces.</p>
        </div>
      </div>
    </div>
    <div class="swiper-slide swiper-slide-next" style="width: 1261px;">
      <div class="slider-bottom-right valign-wrapper">
        <div class="valign right-align width-100 p-b-5em">
          <p> The retro release of the Jordan VI is exactly like the original release, although a an incorrect sample caused quite an uproar among fans of the Air Jordan line. </p>
        </div>
      </div>
    </div>
    <div class="swiper-slide swiper-slide-next" style="width: 1261px;">
      <div class="slider-bottom-right valign-wrapper">
        <div class="valign right-align width-100 p-b-5em">
          <p> After seven years in the league, Michael leads Chicago to a 4-1 victory over Los Angeles for their first Championship. Along the way, he snags his fifth scoring title, his second MVP Award, is picked for the All-Star Team and is awarded the Finals MVP. </p>
        </div>
      </div>
    </div>
    <div class="swiper-slide swiper-slide-next" style="width: 1261px;">
      <div class="slider-bottom-right valign-wrapper">
        <div class="valign right-align width-100 p-b-5em">
          <p>What is there to say else than Hatfield created another classic, the jordan VI . This time with a rubber tounge featuring two holes which the bearer could use to easily get the kicks on. He kept the idea with clear rubber soles and lace locks from the V's but apart from that this felt like a brand new Jordan design.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span></div>
</div>
</div>
</div>
