<div style="background: url(images/stories/jordan-18-5-card.jpg) no-repeat center / cover !important;">
<div class="swiper-container slider-sliced slider-jordan swiper-container-horizontal">
  <div class="swiper-wrapper" style="transform: translate3d(-1261px, 0px, 0px); transition-duration: 0ms;">
    <div class="swiper-slide swiper-slide-prev" style="width: 1261px;">
      <div class="slider-bottom-right valign-wrapper">
        <div class="valign center-align width-100 p-b-5em">
          <h2 class="uppercase">Air Jordan 18.5</h2>
          <p>Released February 2003 </p>
        </div>
      </div>
    </div>
    <div class="swiper-slide swiper-slide-active" style="width: 1261px;">
      <div class="slider-bottom-left valign-wrapper">
        <div class="valign left-align width-100 p-b-5em">
          <p>
          While both the Jordan XVI and the Jordan XVII were later released with modified models called the "+" model, the Jordan XVIII design was so radically altered that Nike released a whole new shoe.
          </p>
        </div>
      </div>
    </div>

    <div class="swiper-slide swiper-slide-next" style="width: 1261px;">
      <div class="slider-bottom-right valign-wrapper">
        <div class="valign right-align width-100 p-b-5em">
          <p>
          The basic  design was similar, but the Jordan 18.5 lacked a lace cover and came with a plastic pant-leg stopper and a more prominent Jumpman logo.
          </p>
        </div>
      </div>
    </div>


  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span></div>
</div>
</div>
</div>
