<div class="article-view">

<h3> AIR JORDAN IX - Released February 1993</h3>

<img src="images/stories/jordan-9.jpg"/>

<p> On October 6th 1993, Michael Jordan announced his decision to retire from the NBA, spelling potential doom for the signature shoe line.  The Jordan IX was a durable and plain shoe at first glance, but it came with lots of interesting details such as the large 23 stitched on the back of the shoe and the multi-lingual words on the soles of both shoes.  The words and the available translations are listed below.
</p>

<p> Nine years of refinement produces the 1993 Air Jordan shoe. Michael helps design the first Air Jordan that he never wears in competition. Michael announces he will turn his talents to the sport of baseball. Doing what he's always done - playing for the love of the game. </p>

<p>

The Jordan IX being released was plain and sturdy and was the first Jordan IX model that Michael did not wear in an NBA seasonal game (due to his retirement in November 1993). They originally sold for $125. (Other people I knew agreed that these were great shoes.) Here is the Air Jordan 9, updated in 2002 to the Washington Wizards colors.
</p>
</div>