<div style="background: url(images/stories/jordan-31-card.jpg) no-repeat center / cover !important;">
<div class="swiper-container slider-sliced slider-jordan swiper-container-horizontal">
  <div class="swiper-wrapper" style="transform: translate3d(-1261px, 0px, 0px); transition-duration: 0ms;">
    <div class="swiper-slide swiper-slide-prev" style="width: 1261px;">
      <div class="slider-bottom-right valign-wrapper">
        <div class="valign center-align width-100 p-b-5em">
          <h2 class="uppercase">Air Jordan 31</h2>
          <p>Released 2016 </p>
        </div>
      </div>
    </div>

    <div class="swiper-slide swiper-slide-active" style="width: 1261px;">
      <div class="slider-bottom-left valign-wrapper">
        <div class="valign left-align width-100 p-b-5em">
          <p>
          The Air Jordan XXXI (31) was unveiled on July 20, 2016. The sneaker is heavily influenced by the original air Jordan having a leather upper and both a Nike air swoosh and a jump man.[19] Its first retail debut was on September 3, 2016 in the "banned" colorway for $185.
          </p>
        </div>
      </div>
    </div>
    <div class="swiper-slide swiper-slide-active" style="width: 1261px;">
      <div class="slider-bottom-left valign-wrapper">
        <div class="valign left-align width-100 p-b-5em">
          <p>
          Alongside its air Jordan 1 counterpart. Notable appearances of the AJ 31 include the "USA" colorway worn during the 2016 Olympic basketball tournament by members of team USA.[20]Basketball at the 2016 Summer Olympics – Men's team rosters
          </p>
        </div>
      </div>
    </div>

  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span></div>
</div>
</div>
</div>
