<div style="background: url(images/stories/jordan-26-card.jpg) no-repeat center / cover !important;">
<div class="swiper-container slider-sliced slider-jordan swiper-container-horizontal">
  <div class="swiper-wrapper" style="transform: translate3d(-1261px, 0px, 0px); transition-duration: 0ms;">
    <div class="swiper-slide swiper-slide-prev" style="width: 1261px;">
      <div class="slider-bottom-right valign-wrapper">
        <div class="valign center-align width-100 p-b-5em">
          <h2 class="uppercase">Air Jordan 26</h2>
          <p>Released 2011 </p>
        </div>
      </div>
    </div>

    <div class="swiper-slide swiper-slide-active" style="width: 1261px;">
      <div class="slider-bottom-left valign-wrapper">
        <div class="valign left-align width-100 p-b-5em">
          <p>
          The Air Jordan 2011 was endorsed by Dwyane Wade in 2011, Jordan Brand decided to keep the fans happy with the release of the Air Jordan 2011. The shoe has inter-changeable insoles- The Red, "Explosive" one is claimed to symbolize power, and a Blue, "Quick" one, supposedly for quickness.
          </p>
        </div>
      </div>
    </div>

    <div class="swiper-slide swiper-slide-active" style="width: 1261px;">
      <div class="slider-bottom-left valign-wrapper">
        <div class="valign left-align width-100 p-b-5em">
          <p>
            Four colorways of the shoe were released on February 19, 2011 in correspondence with the 2011 All Star Game. The first colorway was White/Black. There were also White/Red and White/Blue colorways that coincided with the East/West Jersey Colors. The "Year of the Rabbit" colorway was a limited release that celebrated of Michael Jordan's Chinese zodiac sign, coinciding with the current zodiac sign, the Year of the Rabbit.
          </p>
        </div>
      </div>
    </div>

  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span></div>
</div>
</div>
</div>
