<div style="background: url(images/stories/jordan-4a-card.jpg) no-repeat center / cover !important;">
  <div class="swiper-container slider-sliced slider-jordan swiper-container-horizontal">
    <div class="swiper-wrapper" style="transform: translate3d(-1261px, 0px, 0px); transition-duration: 0ms;">
      <div class="swiper-slide swiper-slide-prev" style="width: 1261px;">
        <div class="slider-bottom-right valign-wrapper">
          <div class="valign center-align width-100 p-b-5em">
            <h2 class="uppercase">Air Jordan 4</h2>
            <p>Released February 1989 </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-active" style="width: 1261px;">
        <div class="slider-bottom-left valign-wrapper">
          <div class="valign left-align width-100 p-b-5em">
            <p> The design of the Air Jordan IV, courtesy of Tinker Hatfield, kept a lot of the feeling from the third model. It wasnt as innovative or groundbreaking as the previous designs, but by the this time the Air Jordan shoes line had gained the publics
              attention, leading to sell outs everywhere. The Jordan IV was even featured in director Spike Lees movie Do The Right Thing. Apparently, the director really liked these shoes and decided to shoe his allegiance to them by giving the Jordans
              a cameo. </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-next" style="width: 1261px;">
        <div class="slider-bottom-right valign-wrapper">
          <div class="valign right-align width-100 p-b-5em">
            <p> One of the characters in the movie has his new Air Jordan IV shoes scuffed by a bicycle rider. He places his shoe upon a fire-hydrant and cleans it with a toothbrush. The Jordan IV was retroed 1999 in white/black and black/cement grey. Stores
              sold out after a few hours and demand was high; a complete change from the retro versions of Jordan I, Jordan II, and Jordan III. </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span></div>
  </div>
</div>
</div>
