<div style="background: url(images/stories/jordan-1-card.jpg) no-repeat center / cover !important;">
<div class="swiper-container slider-sliced slider-jordan swiper-container-horizontal">
  <div class="swiper-wrapper" style="transform: translate3d(-1261px, 0px, 0px); transition-duration: 0ms;">
    <div class="swiper-slide swiper-slide-prev" style="width: 1261px;">
      <div class="slider-bottom-right valign-wrapper">
        <div class="valign center-align width-100 p-b-5em">
          <h2 class="uppercase">Air Jordan 1</h2>
          <p>Released March 1985</p>
        </div>
      </div>
    </div>
    <div class="swiper-slide swiper-slide-active" style="width: 1261px;">
      <div class="slider-bottom-left valign-wrapper">
        <div class="valign left-align width-100 p-b-5em">
          <p>The Air Jordan I was designed by Peter Moore and marked a new era in the design of basketball shoes. The black/red model was banned by the NBA due to NBA color rules and this actually helped to create more publicity and more interest for the shoes. Whether this was a marketing ploy from Nike or not, it helped to generate the interest that, to date, has supported nineteen different Jordan shoes, retro versions, and limited editions. </p>
        </div>
      </div>
    </div>
    <div class="swiper-slide swiper-slide-next" style="width: 1261px;">
      <div class="slider-bottom-right valign-wrapper">
        <div class="valign right-align width-100 p-b-5em">
          <p>The white/black-red and black/red Jordan I was released as a retro in 1994 and sold very poorly, however in 2001 they released them again in patent leather and the demand was much  greater.  Despite the changing of the times, the Air Jordan line has managed to survive controversy and changes in fashion while producing a quality basketball shoe. </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span></div>
</div>

</div>
