<div style="background: url(images/stories/jordan-17-card.jpg) no-repeat center / cover !important;">
  <div class="swiper-container slider-sliced slider-jordan swiper-container-horizontal">
    <div class="swiper-wrapper" style="transform: translate3d(-1261px, 0px, 0px); transition-duration: 0ms;">
      <div class="swiper-slide swiper-slide-prev" style="width: 1261px;">
        <div class="slider-bottom-right valign-wrapper">
          <div class="valign center-align width-100 p-b-5em">
            <h2 class="uppercase">Air Jordan 17</h2>
            <p>Released February 2002 </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-active" style="width: 1261px;">
        <div class="slider-bottom-left valign-wrapper">
          <div class="valign left-align width-100 p-b-5em">
            <p> According to jumpman23.com, the Air Jordan XVII design was inspired by; "the fine details from an Aston Martin, the smooth lines and flow of a jazz solo and the long Air Jordan history of innovations in style." </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-next" style="width: 1261px;">
        <div class="slider-bottom-right valign-wrapper">
          <div class="valign right-align width-100 p-b-5em">
            <p> Like the Jordan XVIs, the Jordan XVII came equipped with a removable midfoot cover, giving the wearer two looks for this model. This Jordan model came in an embossed metal carrying case with a cd rom. One of the most expensive models from
              the Jordan Brand of shoes, their original retail price was $200. While this may seem overpriced, the shoe seems to have been fairly popular. </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-next" style="width: 1261px;">
        <div class="slider-bottom-right valign-wrapper">
          <div class="valign right-align width-100 p-b-5em">
            <p> "I am returning as a player to the game I love". Seeing an opportunity to teach the younger players, Michael returns to the game with a new team but that same drive. Leading Washington in points per game, scoring his 30,000th career point,
              notching up 51 points in a single game, Michael reminds the world he can still dunk. </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-next" style="width: 1261px;">
        <div class="slider-bottom-right valign-wrapper">
          <div class="valign right-align width-100 p-b-5em">
            <p> The Air Jordan XVII design was said to be inspired by three things; "the fine details from an Aston Martin, the smooth lines and flow of a jazz solo and the long Air Jordan history of innovations in style". </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-next" style="width: 1261px;">
        <div class="slider-bottom-right valign-wrapper">
          <div class="valign right-align width-100 p-b-5em">
            <p> Well, if the Air Jordan XVI's were equipped with a gaiter/shroud that was removable and that would cover almost more than half of the shoe, the Air Jordan XVII 's were no worse. With a removable midfoot cover you were once again given the
              power to choose whether or not the laces should be visible! </p>
          </div>
        </div>
      </div>
    </div>
    <!-- dd Pagination -->
    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span></div>
  </div>
</div>
</div>
