<div class="article-view">

<h3> AIR JORDAN X - Released November 1994</h3>

<img src="images/stories/jordan-10.jpg"/>

<p> Nike was caught off guard with Michael Jordans sudden return to the court.  Before releasing the Jordan X, they re-released several older Jordan models.  The Air Jordan X is nothing special and relatively plain even when you stop to consider that the white/black/light steel grey colorway looks like it just broke out of prison or a herd of zebras.  The design is clearly a combination of several older Jordans.
</p>

<p> The Air Jordan VII was met with strong feelings of love or hate. This is the first of the Air Jordans to create division among the ranks of loyal fans and customers.</p>

<p> Expecting never to see the man in the game again, this year's shoe was released with a retrospective of MJ's career. The sole of this new AJ listed some of Michael's greatest achievements from each year of his professional career. On March 19, 1995, after months of rumors, Michael ended his retirement and returned to the court.</p>

<p>
It's apparent that Nike wasn't expecting to see Jordan back in the game so soon. They started to re-release older model's of the Air Jordan series (I, II, III) and the Air Jordan X 's soles featured an honor or an award from each year Michael had spent in the NBA. This shoe is best remembered as the one that listed various of Michael Jordan's basketball feats in the light gray bars of the sole pattern. (As the kid versions got smaller and smaller, fewer events got listed.) This model came out in the fall of 1994 and originally sold for $125. There are some reports that Michael Jordan didn't find this shoe very comfortable.
</p>
</div>