<div style="background: url(images/stories/jordan-25-card.jpg) no-repeat center / cover !important;">
<div class="swiper-container slider-sliced slider-jordan swiper-container-horizontal">
  <div class="swiper-wrapper" style="transform: translate3d(-1261px, 0px, 0px); transition-duration: 0ms;">
    <div class="swiper-slide swiper-slide-prev" style="width: 1261px;">
      <div class="slider-bottom-right valign-wrapper">
        <div class="valign center-align width-100 p-b-5em">
          <h2 class="uppercase">Air Jordan 25</h2>
          <p>Released 2010 </p>
        </div>
      </div>
    </div>

    <div class="swiper-slide swiper-slide-active" style="width: 1261px;">
      <div class="slider-bottom-left valign-wrapper">
        <div class="valign left-align width-100 p-b-5em">
          <p>
            This is the 25th anniversary of the Air Jordan brand, and although commonly called the Jordan 2010s, is also referred to as Air Jordan XX5/XXV. This model of shoe was announced on November 12, 2009, for a release date of February 13, 2010, retailing for US$170. Dwyane Wade is endorsing the AJ 2010. <br/>
          </p>
        </div>
      </div>
    </div>

    <div class="swiper-slide swiper-slide-active" style="width: 1261px;">
      <div class="slider-bottom-left valign-wrapper">
        <div class="valign left-align width-100 p-b-5em">
          <p>
          This is the 25th anniversary of the Air Jordan brand, and although commonly called the Jordan 2010s, is also referred to as Air Jordan XX5/XXV. This model of shoe was announced on November 12, 2009, for a release date of February 13, 2010, retailing for US$170. Dwyane Wade is endorsing the AJ 2010.
          </p>
        </div>
      </div>
    </div>

    <div class="swiper-slide swiper-slide-active" style="width: 1261px;">
      <div class="slider-bottom-left valign-wrapper">
        <div class="valign left-align width-100 p-b-5em">
          <p>
          The base of the each mid-sole has stylized text that when combined reads: "I've failed over and over and over again in my life. And that is why I succeed." This quote was originally attributed to Michael Jordan, and is a reference to an advertising campaign that aired in 1997 with Jordan detailing his failures that led to his success in his career.
          </p>
        </div>
      </div>
    </div>


    <div class="swiper-slide swiper-slide-active" style="width: 1261px;">
      <div class="slider-bottom-left valign-wrapper">
        <div class="valign left-align width-100 p-b-5em">
          <p>
          The Air Jordan 2010 was originally released in 2010. It has not been retro-ed.
          </p>
        </div>
      </div>
    </div>


  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span></div>
</div>
</div>
</div>
