<div class="article-view">

<h3> AIR JORDAN 2012 - Released 2012</h3>

<img src="images/stories/jordan-27.jpg"/>

<p>
Air Jordan 2012 offers six customization configurations. Two interchangeable sleeves and three insoles adapt to different playing styles. The Deluxe model was launched on February 8, while the customization Flight models were released on February 25, 2012. It was the final Air Jordan model to be named after the year it was released as the numbered system returned in 2013 with the Air Jordan XX8.
</p>


</div>