<div class="article-view">

<h3> AIR JORDAN III - Released February 1988 </h3>

<img src="images/stories/jordan-3.jpg"/>

<p> The design  of the Air Jordan III was totally different from the Jordan  I and Jordan II.   It was the first pair of Jordan shoes  that showed a visible air sole. The designer behind this innovation was  Tinker Hatfield who designed every Air Jordan model up to the 15th. </p>

<p> This was also the very first Air Jordan to feature the Jumpman logo instead of the Wings logo on the first two Jordan shoes.  While the Jordan III might be one of the most popular Air Jordan's ever, it was nonetheless highly unpopular when retroed in 1994. </p>

<p> Michael racks up every major honor in the league, defending his Slam-Dunk title, selection to the First Team, the All-Defensive First Team, All-Star Game MVP Award, Defensive Player of the Year, and the league MVP Award. He leads Chicago past the first round of the playoffs and serves notice that this team must not be taken lightly. </p>

</div>