<div style="background: url(images/stories/jordan-23-card.jpg) no-repeat center / cover !important;">
  <div class="swiper-container slider-sliced slider-jordan swiper-container-horizontal">
    <div class="swiper-wrapper" style="transform: translate3d(-1261px, 0px, 0px); transition-duration: 0ms;">
      <div class="swiper-slide swiper-slide-prev" style="width: 1261px;">
        <div class="slider-bottom-right valign-wrapper">
          <div class="valign center-align width-100 p-b-5em">
            <h2 class="uppercase">Air Jordan 23</h2>
            <p>Released 2008 </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-active" style="width: 1261px;">
        <div class="slider-bottom-left valign-wrapper">
          <div class="valign left-align width-100 p-b-5em">
            <p> The number 23 will forever be synonymous with Michael Jordan. So when it was time to create his 23rd signature sneaker for 2008, Tinker Hatfield cooked up another tribute to His Airness and his storied career. </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-active" style="width: 1261px;">
        <div class="slider-bottom-left valign-wrapper">
          <div class="valign left-align width-100 p-b-5em">
            <p> Jordan’s signature is embossed
              at the toe, a stitched pattern consumes the upper to maintain Jordan’s affection for a dress-shoe appearance, and a smoothly polished panel grips the sneakers from toe to heel. </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span></div>
  </div>
</div>
</div>
