<div style="background: url(images/stories/jordan-12-card.jpg) no-repeat center / cover !important;">
  <div class="swiper-container slider-sliced slider-jordan swiper-container-horizontal">
    <div class="swiper-wrapper" style="transform: translate3d(-1261px, 0px, 0px); transition-duration: 0ms;">
      <div class="swiper-slide swiper-slide-prev" style="width: 1261px;">
        <div class="slider-bottom-right valign-wrapper">
          <div class="valign center-align width-100 p-b-5em">
            <h2 class="uppercase">Air Jordan 12</h2>
            <p>Released February 1996 </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-active" style="width: 1261px;">
        <div class="slider-bottom-left valign-wrapper">
          <div class="valign left-align width-100 p-b-5em">
            <p>The Jordan XII was a completely new design for Air Jordan shoes with ribbed leather that matched and blended with the midsoles. This unique design was inspired by the flag of the Japanese Army & Navy in which the red circle is surrounded by
              a sunset. </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-next" style="width: 1261px;">
        <div class="slider-bottom-right valign-wrapper">
          <div class="valign right-align width-100 p-b-5em">
            <p>The Jordan XII was the most durable Air Jordan to date, but they did have one major flaw. The Jordan XII attracted dirt easily and were hard to clean.</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-next" style="width: 1261px;">
        <div class="slider-bottom-right valign-wrapper">
          <div class="valign right-align width-100 p-b-5em">
            <p> In September 1997 Nike decided to launch a new sub-brand of Nike called Jordan Brand. The Jordan XII was the first Jordan shoe of the new Jordan brand and was also the first Air Jordan that did not have a Nike logo or Swoosh. </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-next" style="width: 1261px;">
        <div class="slider-bottom-right valign-wrapper">
          <div class="valign right-align width-100 p-b-5em">
            <p>Michael continues to dominate on the court, and in game 5 of the Finals against Utah, he reminds everyone why he is unstoppable. Michael plays through the game with a severe stomach virus. Despite riding on no sleep, no food, and no energy.
              Michael leads Chicago to victory with 38 points and a game-winning three-pointer.</p>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-next" style="width: 1261px;">
        <div class="slider-bottom-right valign-wrapper">
          <div class="valign right-align width-100 p-b-5em">
            <p>While the Air Jordan 12 was still on store shelves, Nike brought forth the JUMPMAN Pro. It was a shoe with many Air Jordan characteristics, including the "JUMPMAN" logo, but not the "Air Jordan" name. Similarly, while the Air Jordan 13 was
              on the store shelves, the JUMPMAN Pro Quick and JUMPMAN Pro Strong came to market. Late 1997 brought forth a troika of shoes that started the JORDAN Brand. </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-next" style="width: 1261px;">
        <div class="slider-bottom-right valign-wrapper">
          <div class="valign right-align width-100 p-b-5em">
            <p>The Air Jordan 13, Air Jordan Team, and Air Jordan Trainer have come to market. (Note that the JORDAN Brand products do not have the NIKE name or the SWOOSH on them. Similarly, the packaging only carries the NIKE name and address in tiny type,
              heretofore only used for the exclusions on insurance policies, on the bottom.) </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-next" style="width: 1261px;">
        <div class="slider-bottom-right valign-wrapper">
          <div class="valign right-align width-100 p-b-5em">
            <p>The JUMPMAN Pro Quick and JUMPMAN Pro Strong from Spring and Summer 1998 are also JORDAN Brand products. Only the Nike athletic shoe wizards (and, undoubtedly, some industrial spies in the athletic shoe plants) know what surprises are coming
              next. A picture of what turned out to be the Air Jordan 14 arrived in my E-mail in June 1998, about six months before the introduction of the shoe. </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-next" style="width: 1261px;">
        <div class="slider-bottom-right valign-wrapper">
          <div class="valign right-align width-100 p-b-5em">
            <p> Fall 1998 brought some real surprises, including the Women's Jordan. Nike has brought out a number of shoes since in the JUMPMAN product line, as well as the Air Jordan 15 through the Air Jordan 20. </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-next" style="width: 1261px;">
        <div class="slider-bottom-right valign-wrapper">
          <div class="valign right-align width-100 p-b-5em">
            <p> This Air Jordan XII was again something totally new when it came to the design. The way the ribbed leather seemed to go all the way to down to the ground due to the match in color with the midsoles, really made people turn their heads. This
              unique design was partly inspired by the flag of the Japanese Army & Navy in which the red circle is surrounded by a "sunset". </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span></div>
  </div>
</div>
</div>
