<div class="article-view">

<h3> AIR JORDAN XVI - Released February 2001 </h3>

<img src="images/stories/jordan-16.jpg"/>

<p>
Former Air Jordan designer Tinker Hatfield had moved on by the time of the Jordan XVI.  The Air Jordan XVI was designed by Hatfield replacement, Nike Senior Footwear Designer, Wilson Smith.
</p>

<p>
With a little fresh blood in the design process, the Jordan XVI was perhaps the first truly fresh design since the Jordan III, despite the fact that Smith decided to recycle a few of the design elements of earlier releases, such as the clear soles and patent leather.  What made the Jordan XVI new was a removable gaiter/shroud, giving the shoe two looks for the price of one.  
</p>

<p>
Not only a stylish addition, this feature helped to control temperature and comfort for the wearer.  Like all new things, this design had a few bugs to be worked out.  The overall feel of the shoe was a little stiff and the shroud easily came off during very active wear and the patent leather didnt wear as well as other materials.  Even with these problems, the overall concept and design of the Air Jordan XVI was excellent and Wilson Smith certainly lived up to the example of his predecessor.
</p>

<p>
The first shoe to incorporate a removable shroud these Air Jordans offered two unique looks. Perfect for on the court or off the court, the XVI was like two shoes in one.

The Air Jordan XVI 's were designed by Nike's Senior Footwear Designer Wilson Smith. This meaning it was the first design since the III's that Tinker Hatfield wasn't behind. Hatfield was said to have moved up and he left Smith with the hard task in creating a revolutionary new design.
</p>

<p>
But what made the Air Jordan XVI 's unique was the brand new gaiter/shroud that covered the shoe and that could be removed to give the shoe a brand new look. Not only was this for stylish purposes, it also had a thermal functionality.
</p>


</div>