<div class="article-view">

<h3> AIR JORDAN V - Released February 1990 </h3>

<img src="images/stories/jordan-5.jpg"/>

<p> Once again Tinker Hatfield introduced a revolutionary design for the Jordan V. A few design elements were carried over from the Jordan IV, but the Air Jordan V featured a great silver/reflex tongue and a clear/see-through rubber sole creating a completely unique look. With the addition of lacelocks and shark teeth shapes on the midsole, this shoe is rumoured to have been inspired by a World War II fighter plane. </p>

<p> The clear rubber sole also seen  in later Air Jordan Models such as VI, XI and XVI  has upset many collectors due to its tendency to turn yellow. These Jordan shoes were retroed in late 1999 in white/black-fire red and black/black-met silver meeting great demand  and enthusiasm in the marketplace. Retro+ models were also produced; one model featuring Michael Jordans high school colors. </p>

<p> Being cut from his high school basketball team just made him work harder. Michael scores a career-high 69 points in one game against Cleveland. He is chosen for the First Team, the All-Star Team, and wins his fourth scoring title.  </p>

</div>