<div class="article-view">

<h3>  AIR JORDAN VIII - Released February 1993</h3>

<img src="images/stories/jordan-8.jpg"/>

<p> The eighth model of the Air Jordan could politely be called chunky. The base of the shoe was clearly modeled on the design of the Jordan XVII,  but the Air Jordan VIII added more colors and details.  Thick padding for and criss-crossing Velcro straps over the upper made for a great fit but some players experienced problems with heat buildup and a clumsy feeling due to the weight 
</p>

<p> The Jumpman logo on this model vaguely resembles a Peace sign, especially on the white/grey Retro version with its shaggy carpet-like jumpman, leading to the Jordan VIIIs nickname: the flower-power Air Jordan. </p>

<p>
Michael Jordan continues his unmatched ability to take control of the game and inspire greatness in his teammates. A seven-time scoring champion, he achieves his highest finals scoring average with 41 points against Phoenix to lead Chicago to a third Championship. This is the 1993 version, and it originally sold for $140. These are well-known for the two straps that go across the vamp.  
</p>
</div>