<div style="background: url(images/stories/jordan-3-card.jpg) no-repeat center / cover !important;">
<div class="swiper-container slider-sliced slider-jordan swiper-container-horizontal">
  <div class="swiper-wrapper" style="transform: translate3d(-1261px, 0px, 0px); transition-duration: 0ms;">
    <div class="swiper-slide swiper-slide-prev" style="width: 1261px;">
      <div class="slider-bottom-right valign-wrapper">
        <div class="valign center-align width-100 p-b-5em">
          <h2 class="uppercase">Air Jordan 3</h2>
          <p>Released February 1988 </p>
        </div>
      </div>
    </div>
    <div class="swiper-slide swiper-slide-active" style="width: 1261px;">
      <div class="slider-bottom-left valign-wrapper">
        <div class="valign left-align width-100 p-b-5em">
          <p> The design  of the Air Jordan III was totally different from the Jordan  I and Jordan II.   It was the first pair of Jordan shoes  that showed a visible air sole. The designer behind this innovation was  Tinker Hatfield who designed every Air Jordan model up to the 15th. </p>
        </div>
      </div>
    </div>
    <div class="swiper-slide swiper-slide-next" style="width: 1261px;">
      <div class="slider-bottom-right valign-wrapper">
        <div class="valign right-align width-100 p-b-5em">
          <p> This was also the very first Air Jordan to feature the Jumpman logo instead of the Wings logo on the first two Jordan shoes.  While the Jordan III might be one of the most popular Air Jordan's ever, it was nonetheless highly unpopular when retroed in 1994. </p>
        </div>
      </div>
    </div>
    <div class="swiper-slide swiper-slide-next" style="width: 1261px;">
      <div class="slider-bottom-right valign-wrapper">
        <div class="valign right-align width-100 p-b-5em">
          <p> Michael racks up every major honor in the league, defending his Slam-Dunk title, selection to the First Team, the All-Defensive First Team, All-Star Game MVP Award, Defensive Player of the Year, and the league MVP Award. He leads Chicago past the first round of the playoffs and serves notice that this team must not be taken lightly. </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span></div>
</div>
</div>
</div>
