<div class="article-view">

<h3> AIR JORDAN XX2 - Released 2007</h3>

<img src="images/stories/jordan-22.jpg"/>

<p>
Finely-tuned machines were often the inspiration for Michael Jordan’s footwear, and 2007’s Air Jordan 22 was no different. While previous silhouettes honored Jordan’s cars, and the 15 mimicked the look of the X-15 fighter jet, the Jordan 22 looked toward the F-22 Raptor fighter jet for its design cues. Elaborate stitching patterns and reflective 3M provided added detail to the silhouette.
</p>




</div>