<div style="background: url(images/stories/jordan-2-card.png) no-repeat center / cover !important;">
<div class="swiper-container slider-sliced slider-jordan swiper-container-horizontal">
  <div class="swiper-wrapper" style="transform: translate3d(-1261px, 0px, 0px); transition-duration: 0ms;">
    <div class="swiper-slide swiper-slide-prev" style="width: 1261px;">
      <div class="slider-bottom-right valign-wrapper">
        <div class="valign center-align width-100 p-b-5em">
          <h2 class="uppercase">Air Jordan 2</h2>
          <p>Released November 1986</p>
        </div>
      </div>
    </div>
    <div class="swiper-slide swiper-slide-active" style="width: 1261px;">
      <div class="slider-bottom-left valign-wrapper">
        <div class="valign left-align width-100 p-b-5em">
          <p> The Air Jordan II was designed by Bruce Kilgore and just as its predecessor it showed a great innovative design. The low-tops were produced in Italy and and were far more stylish than the ordinary basketball shoe. </p>
          <p>Surprisingly this is the only original Air Jordan ever that has not been made in a black version. While there were plans to release the Air Jordan II in black, these never became a reality for the original release of the Jordan II. </p>
        </div>
      </div>
    </div>
    <div class="swiper-slide swiper-slide-next" style="width: 1261px;">
      <div class="slider-bottom-right valign-wrapper">
        <div class="valign right-align width-100 p-b-5em">
          <p>The white/black AJ II's were retroed in 1994 in limited quantities. Just like the Air Jordan Retro I they sold very poorly and were often found deeply discounted at shoe stores nationwide. The Jordan II have been recently re-retroed, finally in black leather.  The Jordan Retro II is also available in white/varsity red-black.</p>
        </div>
      </div>
    </div>
    <div class="swiper-slide swiper-slide-next" style="width: 1261px;">
      <div class="slider-bottom-right valign-wrapper">
        <div class="valign right-align width-100 p-b-5em">
          <p>Along with a return trip to the All-Star game, Michael wins his first in a series of scoring titles, as well as the Slam-Dunk Championship. He becomes the first player since the 1960s to top 3,000 points in a single season. He plays nine straight games with 40 points or more. In short, Michael informs everyone why he's destined to become the with 40 points or more. In short, Michael informs everyone why he's destined to become the greatest player ever.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span></div>
</div>
</div>
</div>
