<div style="background: url(images/stories/jordan-27-card.jpg) no-repeat center / cover !important;">
<div class="swiper-container slider-sliced slider-jordan swiper-container-horizontal">
  <div class="swiper-wrapper" style="transform: translate3d(-1261px, 0px, 0px); transition-duration: 0ms;">
    <div class="swiper-slide swiper-slide-prev" style="width: 1261px;">
      <div class="slider-bottom-right valign-wrapper">
        <div class="valign center-align width-100 p-b-5em">
          <h2 class="uppercase">Air Jordan 27</h2>
          <p>Released 2012 </p>
        </div>
      </div>
    </div>

    <div class="swiper-slide swiper-slide-active" style="width: 1261px;">
      <div class="slider-bottom-left valign-wrapper">
        <div class="valign left-align width-100 p-b-5em">
          <p>
          Air Jordan 2012 offers six customization configurations. Two interchangeable sleeves and three insoles adapt to different playing styles. The Deluxe model was launched on February 8, while the customization Flight models were released on February 25, 2012.
          </p>
        </div>
      </div>
    </div>

    <div class="swiper-slide swiper-slide-active" style="width: 1261px;">
      <div class="slider-bottom-left valign-wrapper">
        <div class="valign left-align width-100 p-b-5em">
          <p>
            It was the final Air Jordan model to be named after the year it was released as the numbered system returned in 2013 with the Air Jordan XX8.
          </p>
        </div>
      </div>
    </div>

  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span></div>
</div>
</div>
</div>
