<div class="article-view">

<h3> AIR JORDAN XIII - Released November 1997 </h3>

<img src="images/stories/jordan-13.jpg"/>

<p> Now that Nike and Air Jordan designer, Tinker Hatfield were a little more prepared, they were able to keep producing original designs for the Nike Air Jordan line.

One of the nicest features of this Jordan model was a hologram on the ankle showing a basketball, the number 23, and the Jumpman logo.

The low-top versions of the Jordan XIII were released without this nifty feature though, much to the disappointment of many.
</p>

<p>
Perhaps Michael's most famous shot ever took place in Game 6 of the Finals against Utah. His final shot before retiring (a second time), his final shot for Chicago, it also proves to be the game winner, handing the team their third consecutive Championship.
</p>

<p>Hatfield kept on making original designs. The Air Jordan XIII 's featured a nice hologram on the ankle and the design was said to be inspired by a panther. The outsole with pads like a paw and circles representing whiskers.

Two different low-top colors of the Air Jordan XIII were also released to the public. These without the hologram. The first Air Jordan 13 models hit store shelves in November 1997 with a price tag of $150. (January 1998 followed with a model with more red, and an all-black model later on in the year.) The shoe is almost completely black and white. There is a small amount of red on the tongue, "AIR JORDAN" logo, and the sole. 

The sole picture collection shows the Air Jordan 13. Shortly after the release of the Air Jordan 13, Nike started bringing the rest of the "JORDAN Brand" clothing and shoe line to market. Nike markets these products as if they are a completely separate brand, designated by the "JUMPMAN" instead of the usual "SWOOSH."



</p>

<p>
Starting with the third color of Air Jordan 13, future JORDAN Brand products will be released for sale on Saturdays. Press releases from JORDAN Brand marketing indicated that many school districts had trouble with kids playing hooky on Air Jordan introduction days. (Hopefully, Jewish kids will behave and not ditch synagogue!). In addition to the Air Jordan 13, the JORDAN Brand line has two new shoe models. The first one is the Air Jordan Team, and there's nothing really surprising there. The heel has a logo ("Jordan BASKETBALL Team"), reminiscent in shape and color to a tail light from an old Ford.

</p>

</div>