<div class="article-view">

<h3> AIR JORDAN XVIII - Released February 2003</h3>

<img src="images/stories/jordan-18.jpg"/>

<p>
The Jordan XVIII is the brainchild of new Senior Jordan Footwear Designer, Tate Kuebis.  The inspiration for this model is said to be a number of things, but primarily a design based on the sleek lines of the racing world and the quality of Italian dress shoes. Mostly, the Air Jordan XVIII is known for its unique accessories, a pull-out opening box and a brush and towel for cleaning the shoes.
</p>

<p>
Drive the 2003 Air Jordan. A one-piece suede upper, double stack Zoom Air, and the Carbon Comfort control plate all combine to create the ultimate performance shoe built to withstand the demands of the court.
</p>

<p>
Creator of the design of the Air Jordan XVIII was Tate Kuerbis (Jordan Senior Footwear Designer). A person that had been part of the Air Jordan footwear design team since 1999 and with Nike since 1995. The inspiration of the design is a combination for a number of things; Sleek racing lines of the auto world, Carbon fiber-based monocoque of F1 race cars, Race car driving shoes (rubber heel wrap) and Fine Italian dress shoes (bold stitching on the soles).
</p>



</div>