<!DOCTYPE html>
<html>
<head>
<title>SoleInsider</title>
<!-- meta tags start -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Keywords" content="blinds, premium, mobile, template, HTML, Css" />
<meta name="Description" content="Premium mobile HTML/CSS template." />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<!-- meta tags end -->

<!-- favorite icon starts -->
<link rel="shortcut icon" href="images/common/favicon.ico" type="image/x-icon" />
<!-- favorite icon ends -->

<!-- Google fonts start -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600,700' rel='stylesheet' type='text/css'>
<!-- Google fonts end -->

<!-- CSS files start -->
<link href="css/framework.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/colorbox.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/elements.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/responsive.css" rel="stylesheet" type="text/css" media="screen" />
<link href="css/hidpi.css" rel="stylesheet" type="text/css" media="screen" />
<link href="css/skin.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
<link rel='stylesheet' href='css2/carousel-style.css'>
<link rel='stylesheet' href='css2/carousel.css'>
<!-- CSS files end -->

<!-- JavaScript files start -->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/effects.jquery-ui.min.js"></script>
<script type="text/javascript" src="js/jquery.nivo-slider.min.js"></script>
<script type="text/javascript" src="js/jquery.colorbox.min.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<script type="text/javascript" src='js2/plugins/carousel.js'></script>
<script src='js2/plugins/moment.js'></script>
<script src='js2/plugins/lazy.load.min.js'></script>
<!-- JavaScript files end -->
</head>
<body>
<!-- website wrapper starts -->
<div class="websiteWrapper" ng-app="soleinsiderApp" ng-controller="clothingStoreController"> 
  
  <!-- header outer wrapper starts -->
  <div class="headerOuterWrapper">
    <!-- header outer wrapper starts -->
  <div class="headerOuterWrapper">
    <div class="headerWrapper"> 
    <span class="mainLogo">SoleInsider</span> 
    <a href="" class="mainMenuButton"></a></div>
  </div>
  <!-- header outer wrapper ends --> 
  </div>
  <!-- header outer wrapper ends --> 
  
  <!-- main menu outer wrapper starts -->
  <div class="mainMenuOuterWrapper mainMenuHidden">
    <ul class="mainMenuWrapper">
      <li ng-repeat="m in menu" style="background-color:{{m.menu_color}}" class="menuFire" >
        <a href="clothing_store.html">{{ m.name }}</a>
      </li>
    </ul>
  </div>
  <!-- main menu outer wrapper ends --> 
  
  <!-- page wrapper starts -->
  <div class="pageWrapper blogPageWrapper"> 
    
    <!-- blog posts wrapper starts -->
    <div class="blogPostsWrapper"> 
  

    <ul class="portfolioMenuWrapper" id="portfolioMenuWrapper" style="text-align:center">
      <li style="text-align:center">{{category}}</li>
    </ul>  

    <div class="loading" ng-show="showLoading == true" style="text-align:center">
          <img src="img/spinner.gif" width="100px" height="100px" />
        </div>

        <div class="loading" ng-show="showLoading == false" style="text-align:center">
          <div ng-repeat="p in products" class="product" ng-cloak>

             <div class="pageContentWrapper"> 

            <div style="float:left;width:50%">
              <img src="{{p.image.sizes.IPhone.url}}" alt="{{p.name}}"  width="100%" class="productImage">
            </div>

            <div class="productDetails" style="float:right;width:45%">
              <span class="product_title">{{p.name}}</span>
              <br/>

              <span class="price">Retailer - {{p.retailer.name}}</span>
              <br/>
              <span class="price">{{p.priceLabel}}</span>
              <br/>
              <br/><a href="" ng-click="buyProduct(p)" class="buttonWrapper buttonBlack">Details</a>
            </div>
          </div>
        </div>


      

    </div>
    <!-- blog posts wrapper ends --> 
    
     <br/>
   <a class="buttonWrapper buttonBlack" style="padding:10px" ng-click="paginate()">Next</a> 


  </div>
  <!-- page wrapper ends --> 
  

  
  <!-- footer wrapper starts -->
  <div class="footerWrapper"> 
    <!-- copyright wrapper starts -->
    <div class="copyrightWrapper"> 
      <!-- copyright starts --> 
      <span class="copyright">&copy; 2015 SoleInsider</span> 
      <!-- copyright ends --> 
      <!-- back to top button starts --> 
      <a href="" class="backToTopButton"></a> 
      <!-- back to top button ends --> 
    </div>
    <!-- copyright wrapper ends --> 
  </div>
  <!-- footer wrapper ends --> 
  
</div>
<!-- website wrapper ends -->
    
<!-- preloader starts -->
<div class="preloader"></div>
<!-- preloader ends -->

  <script src='js2/plugins/carousel.js'></script>
  <script src='js2/plugins/moment.js'></script>

  <!-- Setup angular classes -->
  <script src="js/angular.js"></script>
  <script src="app/config.js"></script>
  <script src="app/controllers/clothing_store_c.js"></script>
  <script src="app/models/mixpanel_service.js"></script>
  <script src="app/models/clothing_store_service.js"></script>
  <script src="app/models/cache_service.js"></script>
</body>
</body>
</html>
