<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	versionCode="38"
	version 	= "6.3.5"
	id        = "com.sole.insider.free">

	<name>SoleInsider</name>

	<description>
		SoleInsider. Sneaker releases, Jordans, jordan, release dates, sneaker, sneakers, sneakerhead
	</description>

	<author href="soleinsiderapp@gmail.com"
		email="soleinsiderapp@gmail.com">
		SoleInsider
	</author>

	<gap:platforms>
		<gap:platform name="android" minVersion="2" />
		<gap:platform name="webos" />
	</gap:platforms>

	<!-- Android -->
	<icon src="icons/android/drawable_ldpi_ic_launcher.png" gap:platform="android" gap:density="ldpi" />
	<icon src="icons/android/drawable_mdpi_ic_launcher.png" gap:platform="android" gap:density="mdpi" />
	<icon src="icons/android/drawable_hdpi_ic_launcher.png" gap:platform="android" gap:density="hdpi" />
	<icon src="icons/android/drawable_xhdpi_ic_launcher.png" gap:platform="android" gap:density="xhdpi" />
	<icon src="icons/android/drawable_xxhdpi_ic_launcher.png" gap:platform="android" gap:density="xxhdpi" />
	<icon src="icons/android/drawable_xxxhdpi_ic_launcher.png" gap:platform="android" gap:density="xxxhdpi" />

	<!-- Iphone -->
	<icon src="icons/ios/Icon-Small-57.png" gap:platform="ios" width="57" height="57" />
	<icon src="icons/ios/Icon-72.png" gap:platform="ios" width="72" height="72" />
	<icon src="icons/ios/Icon@2x.png" gap:platform="ios" width="114" height="114" />
	<icon src="icons/ios/Icon-40@3x.png" gap:platform="ios" width="120" height="120" />
	<icon src="icons/ios/Icon-76.png" gap:platform="ios" width="76" height="76" />
	<icon src="icons/ios/Icon-76@2x.png" gap:platform="ios" width="152" height="152" />


	<!-- retina iPad support: PhoneGap 2.5.0+ only -->
	<icon src="icons/ios/Icon-72@2x.png" gap:platform="ios" width="144" height="144" />

	<!-- Windows -->
	<icon src="icons/windows/icon.png" gap:platform="winphone" />
	<icon src="icons/windows/tileicon.png" gap:platform="winphone" gap:role="background" />

    <gap:splash src="splash/splash.png" />

    <!-- Android Splash -->
	<!--     <gap:splash src="splash/android/drawable-hdpi/soleinsider_splash.png" gap:platform="android" gap:density="hdpi" />
	<gap:splash src="splash/android/drawable-mdpi/soleinsider_splash.png" gap:platform="android" gap:density="mdpi" />
	<gap:splash src="splash/android/drawable-xdpi/soleinsider_splash.png" gap:platform="android" gap:density="xdpi" />
	<gap:splash src="splash/android/drawable-xxdpi/soleinsider_splash.png" gap:platform="android" gap:density="xxhdpi" />
	<gap:splash src="splash/android/drawable-xxxdpi/soleinsider_splash.png" gap:platform="android" gap:density="xxxhdpi" />
 	-->
	
	<feature name="http://api.phonegap.com/1.0/network"/>

	<!-- General -->
	<icon src="icons/icon.png" width="72" height="72" />
	<icon src="icons/icon.png" width="48" height="48" />
	<icon src="icons/icon.png" width="36" height="36"  gap:role="default"  />

	<preference name='phonegap-version' value='3.7.0' />
	<preference name="fullscreen" value="false" />

	<feature name="http://api.phonegap.com/1.0/network"/>

	<gap:plugin name="org.apache.cordova.inappbrowser" version="0.2.2" />
	<gap:plugin name="nl.x-services.plugins.calendar" />
	<gap:plugin name="nl.x-services.plugins.socialsharing" version="4.3.0" />
	<gap:plugin name="cordova-plugin-admob" source="npm" />
</widget>