<html class="pixel-ratio-1 watch-active-state"><head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
<link rel="apple-touch-startup-image" href="images/apple-touch-startup-image-320x460.png">
<title> SoleInsider</title>
<link rel="stylesheet" href="css/framework7.css">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="style-custom.css">
<link type="text/css" rel="stylesheet" href="css/swipebox.css">
<link type="text/css" rel='stylesheet' href='css/carousel-style.css'>
<link type="text/css" rel='stylesheet' href='css/carousel.css'>
<link href="css/toastr.css" rel="stylesheet" type="text/css">

<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700,900" rel="stylesheet" type="text/css">
</head>
<body id="mobile_wrap" class="">

    <div class="statusbar-overlay"></div>

    <div class="panel-overlay"></div>

    <div class="panel panel-left panel-cover">
      <nav class="list-nav">
        <ul>
          <li class="cart-icon"><a href="#/store" class="close-panel">Sneaker Store</a></li>
         <!--  <li class="cart-icon"><a href="#/clothing" class="close-panel">Clothing Store</a></li> -->
          <li class="cart-icon"><a href="#/releases" class="close-panel">Releases</a></li>
          <li class="cart-icon"><a href="#/past_releases" class="close-panel">Past Releases</a></li>
          <li class="heart-icon"><a href="#/restocks" class="close-panel">Restocks</a></li>
          <li class="heart-icon"><a href="#/restock_history" class="close-panel">Past Restocks</a></li>
          <li class="photos-icon"><a href="#/gallery" class="close-panel">Gallery</a></li>
          <li class="list-icon"><a href="#/news" class="close-panel">News</a></li>
          <li class="about-icon"><a href="#/account" class="close-panel">My Account</a></li>
          <li class="about-icon"><a href="#/login" class="close-panel">Login</a></li>
        </ul>
      </nav>  
    </div>

    <div class="views">

      <div class="view view-main" data-page="projects">

        <div class="navbar navbar-hidden">
          <div class="navbar-inner">
            <div class="left sliding"><div class="logo_title">SoleInsider</div></div>
            <div class="right menu_open_icon"><a href="#" data-panel="left" class="link icon-only open-panel"></a></div>
          </div>
        </div>

        <div class="pages navbar-through toolbar-through">

          
        <div data-page="projects" class="page no-toolbar no-navbar page-on-left">
    <div class="page-content">
    

      
    </div>
  </div><div data-page="projects" class="page no-toolbar no-navbar page-on-center">
    <div class="page-content">
    
     <div class="navbarpages">
       <div class="navbar_home_link"><a href="main.html" class="home_link"><img src="images/icons/white/home.png" alt="" title=""></a></div>
       <div class="navbar_page_center">SoleInsider</div>
       <div class="menu_open_icon_white"><a href="#" class="open-panel"><img src="images/menu_open.png" alt="" title=""></a></div>
     </div>
     <div id="pages_maincontent" class="" ng-app="soleinsiderApp" ng-controller="appController">
      
       <div ng-cloak ng-show="show_featured == true">
    <div class="panel grey featured" style="text-align:center">
      <span style="font-weight:bold;font-size:24px">Featured Sneakers</span>
    </div>
  </div>

    <div class="pageContentWrapper" ng-show="show_featured == true" ng-cloak> 
          <!-- the viewport -->
            <span class="normal-div featured-carousel m-carousel m-fluid m-carousel-photos" style="width:95%;height:300px">

              <span class="normal-div m-carousel-inner">
                <span class="normal-div m-item" ng-repeat="f in featured" featured-directive>
                  <h4>{{f.name}} - ${{f.price}}</h4>
                  <img src="{{f.image.sizes.IPhone.url}}" ng-show="show_featured == true" class="featuredImage" style="clear:both;width: 45% !important;">
                  <br/><br/>

                  <a class="button" ng-click="buyProduct(f)">Details</a>
                </span>
              </span>

              <!-- the controls -->
              <div class="m-carousel-controls m-carousel-bulleted featured-carousel-pagination">
              </div>
            </span>
            
    </div>

      <div ng-view>
      </div>
   
      <div class="clear"></div>
      </div>
      
      
    </div>
  </div></div>
        <!-- Bottom Toolbar-->
        <div class="toolbar toolbar-hidden">
              <div class="toolbar-inner">
              <ul class="toolbar_icons icons_4row">
              <li><a href="#" data-popup=".popup-login" class="open-popup"><img src="images/icons/white/user.png" alt="" title=""></a></li>
              <li><a href="features.html"><img src="images/icons/white/settings.png" alt="" title=""></a></li>
              <li><a href="photos.html"><img src="images/icons/white/photos.png" alt="" title=""></a></li>
              <li><a href="#" data-popup=".popup-social" class="open-popup"><img src="images/icons/white/heart.png" alt="" title=""></a></li>
              </ul>
              </div>  
        </div>
        

      </div>
    </div>
    


<script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="js/framework7.min.js"></script>
<script type="text/javascript" src="js/my-app.js"></script>

<!-- Setup angular classes -->
<script src="js/angular.js"></script>
<script src="js/toastr.js"></script>
<script src="app/ads.js"></script>
<script src="app/config.js"></script>
<script src="app/app.js"></script>
<script src="app/controllers/app_c.js"></script>
<script src="app/controllers/clothing_store_c.js"></script>
<script src="app/controllers/store_c.js"></script>
<script src="app/controllers/releases_c.js"></script>
<script src="app/controllers/account_c.js"></script>
<script src="app/controllers/past_releases_c.js"></script>
<script src="app/controllers/past_restocks_c.js"></script>
<script src="app/controllers/restocks_c.js"></script>
<script src="app/controllers/sales_c.js"></script>
<script src="app/controllers/avail_c.js"></script>
<script src="app/controllers/myrestocks_c.js"></script>
<script src="app/controllers/myreleases_c.js"></script>
<script src="app/controllers/login_c.js"></script>
<script src="app/controllers/signup_c.js"></script>
<script src="app/controllers/coupons_c.js"></script>
<script src="app/controllers/twitter_watcher_c.js"></script>
<script src="app/controllers/details_c.js"></script>
<script src="app/controllers/news_c.js"></script>
<script src="app/controllers/instagram_c.js"></script>
<script src="app/controllers/storefinder_c.js"></script>

<script src="app/models/store_service.js"></script>
<script src="app/models/clothing_store_service.js"></script>
<script src="app/models/mixpanel_service.js"></script>
<script src="app/models/release_service.js"></script>
<script src="app/models/util_service.js"></script>
<script src="app/models/restock_service.js"></script>
<script src="app/models/sales_service.js"></script>
<script src="app/models/login_service.js"></script>
<script src="app/models/cache_service.js"></script>
<script src="app/models/app_service.js"></script>
<script src="app/models/account_service.js"></script>
<script src="app/models/twitter_service.js"></script>
<script src="app/models/comments_service.js"></script>
<script src="app/models/news_service.js"></script>
<script src="app/models/instagram_service.js"></script>
<script src="app/models/store_finder_service.js"></script>

<script src='js/moment.js'></script>
<script src='js/carousel.js'></script>
<script src="assets/toast/javascript/jquery.toastmessage.js"></script>
</body>
</html>