<html class="pixel-ratio-1 watch-active-state"><head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
  <link rel="apple-touch-startup-image" href="images/apple-touch-startup-image-320x460.png">
  <title> SoleInsider</title>
  <link rel="stylesheet" href="css/framework7.css">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="style-custom.css">
  <link type="text/css" rel='stylesheet' href='css/carousel-style.css'>
  <link type="text/css" rel='stylesheet' href='css/carousel.css'>
  <link href="css/toastr.css" rel="stylesheet" type="text/css">
  <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
  <link href='bower_components/wiremonkey/dist/css/wiremonkey.css' rel='stylesheet'>
</head>
<body id="mobile_wrap" class="">
  <div class="statusbar-overlay"></div>
  <div class="panel-overlay"></div>
  <div class="panel panel-left panel-cover">
    <nav class="list-nav">
      <ul>
        <li> <img src="icons/icon.png" style="width:48px;height:48px" /> </li>
        <li><a href="#/store" class="close-panel"> Store</a></li>
        <li><a href="#/releases" class="close-panel">Releases</a></li>
        <li><a href="#/past_releases" class="close-panel">Past Releases</a></li>
        <li><a href="#/sales" class="close-panel">Steals</a></li>
        <li><a href="#/videos" class="close-panel">Video</a></li>
        <li><a href="#/news" class="close-panel">News</a></li>
        <li><a href="#/account" class="close-panel">Account</a></li>
        <li><a href="#/more" class="close-panel">More...</a></li>
      </ul>
    </nav>
  </div>
  <div class="views">
    <div class="view view-main" data-page="projects">
      <div class="navbar navbar-hidden">
        <div class="navbar-inner">
          <div class="left sliding"><div class="logo_title">SoleInsider</div></div>
          <div class="right menu_open_icon"><a href="#" data-panel="left" class="link icon-only open-panel"></a></div>
        </div>
      </div>
      <div class="pages navbar-through toolbar-through">
        
        <div data-page="projects" class="page no-toolbar no-navbar page-on-left">
          <div class="page-content">
            
            
          </div>
        </div><div data-page="projects" class="page no-toolbar no-navbar page-on-center">
        <div class="page-content">
          
          <div class="navbarpages">
            <div class="navbar_home_link">
              <a href="#" class="home_link home-button"> <img src="images/home.png"/>  </a>
              <a href="#" class="home_links back-button"> <img src="images/back_button.png"/> </a>
            </div>
            <div class="navbar_page_center">SoleInsider</div>
            <div class="menu_open_icon_white"><a href="#" class="open-panel"><img src="images/menu.png" alt="" title=""></a></div>
          </div>
          <div id="pages_maincontent" class="" ng-app="soleinsiderApp" ng-controller="appController">
            <div ng-cloak ng-show="show_loading == true" class="spinner">
              <img src="images/spinner.gif"/>
            </div>
            <div ng-cloak ng-show="show_featured == true">
              <div class="panel grey featured" style="text-align:center">
                <span style="font-weight:bold;font-size:24px">Featured Sneakers</span>
              </div>
            </div>
            <div class="pageContentWrapper" ng-show="show_featured == true" ng-cloak>
              <!-- the viewport -->
              <span class="normal-div featured-carousel m-carousel m-fluid m-carousel-photos" style="width:95%;height:300px">
                <span class="normal-div m-carousel-inner">
                  <span class="normal-div m-item" ng-repeat="f in featured" featured-directive>
                    <p>{{f.name}} - ${{f.price}}</p>
                    <img src="{{f.image.sizes.IPhone.url}}" ng-show="show_featured == true" class="featuredImage" style="clear:both;width: 45% !important;">
                    <br/><br/>
                    <a class="button_small" ng-click="buyProduct(f)" style="width:30%"> Details</a>
                  </span>
                </span>
                <!-- the controls -->
                <div class="m-carousel-controls m-carousel-hud" style="display:block !important">
                  <a class="m-carousel-prev" href="#" data-slide="prev" style="opacity:0.3">Previous</a>
                  <a class="m-carousel-next" href="#" data-slide="next" style="opacity:0.3">Next</a>
                </div>
              </span>
            </div>
            <div ng-view>
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </div></div>
      <!-- Bottom Toolbar-->
      <!--       <div class="toolbar toolbar-hidden">
        <div class="toolbar-inner">
          <ul class="toolbar_icons icons_4row">
            <li><a href="#" data-popup=".popup-login" class="open-popup"><img src="images/icons/white/user.png" alt="" title=""></a></li>
            <li><a href="#" data-popup=".popup-login" class="open-popup"><img src="images/icons/white/user.png" alt="" title=""></a></li>
            <li><a href="#" data-popup=".popup-login" class="open-popup"><img src="images/icons/white/user.png" alt="" title=""></a></li>
            <li><a href="#" data-popup=".popup-login" class="open-popup"><img src="images/icons/white/user.png" alt="" title=""></a></li>
          </ul>
        </div>
      </div> -->
    </div>
  </div>
  
  <script src="cordova.js"></script>
  <script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>
  <script type="text/javascript" src="js/framework7.min.js"></script>
  <script type="text/javascript" src="js/my-app.js"></script>
  <!-- Setup angular classes -->
  <script src="js/lib/angular.js"></script>
  <script src="js/lib/angular-route.js"></script>
  <script src="js/lib/angular-animate.js"></script>
  <script src="js/lib/angular-sanitize.min.js"></script>
  <script src="bower_components/ng-videosharing-embed/build/ng-videosharing-embed.min.js"></script>
  <script src="app/manager.js"></script>
  <script src="js/toastr.js"></script>
  <script src="js/gage.js"></script>
  <script src="app/config.js"></script>
  <script src="app/app_rate.js"></script>
  <script src="app/app.js"></script>
  <script src="app/controllers/app_c.js"></script>
  <script src="app/controllers/store_c.js"></script>
  <script src="app/controllers/releases_c.js"></script>
  <script src="app/controllers/account_c.js"></script>
  <script src="app/controllers/past_releases_c.js"></script>
  <script src="app/controllers/past_restocks_c.js"></script>
  <script src="app/controllers/restocks_c.js"></script>
  <script src="app/controllers/myrestocks_c.js"></script>
  <script src="app/controllers/myreleases_c.js"></script>
  <script src="app/controllers/login_c.js"></script>
  <script src="app/controllers/signup_c.js"></script>
  <script src="app/controllers/details_c.js"></script>
  <script src="app/controllers/news_c.js"></script>
  <script src="app/controllers/instagram_c.js"></script>
  <script src="app/controllers/storefinder_c.js"></script>
  <script src="app/controllers/home_c.js"></script>
  <script src="app/controllers/video_c.js"></script>
  <script src="app/controllers/social_c.js"></script>
  <script src="app/controllers/more_c.js"></script>
  <script src="app/controllers/stats_c.js"></script>
  <script src="app/controllers/sales_c.js"></script>
  <script src="app/controllers/view_c.js"></script>

  <script src="app/models/store_service.js"></script>
  <script src="app/models/release_service.js"></script>
  <script src="app/models/restock_service.js"></script>
  <script src="app/models/login_service.js"></script>
  <script src="app/models/cache_service.js"></script>
  <script src="app/models/app_service.js"></script>
  <script src="app/models/account_service.js"></script>
  <script src="app/models/comments_service.js"></script>
  <script src="app/models/news_service.js"></script>
  <script src="app/models/instagram_service.js"></script>
  <script src="app/models/store_finder_service.js"></script>
  <script src="app/models/video_service.js"></script>
  <script src="app/models/sales_service.js"></script>
  <script src='js/moment.js'></script>
  <script src='js/carousel.js'></script>
</body>
</html>