@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300);

* {http://localhost/solefree/main.html#
  font-family: 'Open Sans', sans-serif;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.paginate_button {
  width: 88%;
}

.date_price {
  overflow: hidden;
}

.date {
  width: 99%;
  float: left;
  font-size: 12px;
}

.price {
  width: 30%;
  float: left;
  font-size: 12px;
}

.sneaker_title a {
  color: #101010;
}

.sneaker_title {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 8%;
}

.details_slideshow {
  height: auto;
  clear: both;
  margin-bottom: 15px;
  float: left;
  border: 2px solid #ccc;
  box-shadow: 5px 5px 2.5px #aaa;
  padding: 5px;
  width: 96%;
  text-align: center;
  margin-top: 5px;
}

.swipeout {
  overflow: hidden;
  margin-bottom: 5px;
  border-bottom: 1px #eee solid;
  margin-bottom: 1px;
  width: 95%;
  margin-left: 5px;
  font-family: 'Open Sans', sans-serif;
}

.releasesLeft {
  width: 40%;
  margin-right: 10px;
}

.releasesRight {
  width: 55%;
  text-align: left;
}

.menu-dropdown {
  text-align: center;
  width: 99%;
  height: 50px;
  font-size: 16px;
  background-color: #202428;
  color: #efefef;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  line-height: 50px;
  font-size: 12px;
  padding-left: 20px;
  padding-right: 00px;
  display: block;
  margin-top: -20px;
  margin-bottom: 15px;
  margin-left: 2px;
}

/* Tabs */
ul.tabs {
  padding: 0px;
  list-style: none;
  font-size: 12px;
  width: 100%;
}

ul.tabs li{
  background: none;
  color: #222;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  width: 43%;
}

ul.tabs li.current{
  background: #ededed;
  color: #222;
}

.tab-content{
  display: none;
  background: #ededed;
  padding: 15px;
}

.tab-content.current{
  display: inherit;
}

.responsive-image {
  height: 140px;
  width: 100%;
}

.product {
  overflow: hidden;
  margin-bottom: 5px;
  border-bottom: 1px #eee solid;
  margin-bottom: 1px;
  width: 95%;
  margin-left: 5px;
  font-family: 'Open Sans', sans-serif;
}

.productLeft, .productRight, .releasesRight, .releasesLeft, .salesLeft {
  float: left;
}

.releasesLeft img {
  width: 100%;
  max-height: 200px;
}

.releasesLeft {
  width: 40%;
  margin-right: 10px;
}

.releasesRight {
  width: 55%;
}

.speach-center {
  float: left;
  display: inline;
  text-align: left;
  width: 95%;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  background-color: #FFFFFF;
  border: solid 1px #cacaca;
}

.speach-left {
  float: left;
  display: inline;
  text-align: left;
  max-width: 75%;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  background-color: #FFFFFF;
  border: solid 1px #cacaca;
}

.speach-right {
  float: right;
  text-align: right;
  text-align: left;
  max-width: 75%;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  background-color: #FFFFFF;
  border: solid 1px #cacaca;
}

.blue-bubble {
  background-color: #0b84fe!important;
  color: #FFFFFF!important;
  border: none!important;
}

.product-details {
  padding: 10px;
  background-color: #eee;
}

.details-actions {
  width: 100%;
  text-align: center;
  padding: 5px 10px !important;
  margin-bottom: 1px;
  text-align: left;
}

.hide {
  display: none !important;
}

.button_small, .button_small_yes, .button_small_no {
  border-radius: 0px !important;
}

.button_small_yes, .button_small_no {
  float: left;
  color: #fff;
  width: 50%;
  padding: 0px;
  height: 30px;
  cursor: pointer;
}

.button_small_yes a, .button_small_no a {
  font-size: 14px;
  color: #fff;
  top: 5px;
  position: relative;
  width: 100%;
}

.button_small {
  background-color: #333 !important;
}

/* 27. Portfolio */ 

.portfolio-wide {
  margin-top: -18px;
}

.portfolio-wide-item img{
  margin:0px;
  padding:0px;  
}

.portfolio-wide-item{
  margin-bottom:5px;  
}

.portfolio-wide-item .overlay{
  background-color:rgba(0,0,0,0.7);
    z-index:9
}

.portfolio-wide-item h3{
  position:absolute;
  width:100%;
  top:50%;
  margin-top:-20px;
  z-index:98;
  color:#FFFFFF;
  text-align:center;
  font-weight:500;  
}

.portfolio-wide-item p{
  color:rgba(255,255,255,0.5);
  position:absolute;
  width:100%;
  top:50%;
  margin-top:0px;
  z-index:98;
  text-align:center;  
}

@media (min-width:768px){
  
  .portfolio-wide-item{
    max-height:200px;
  }
  
  .portfolio-wide-item h3{
    font-size:28px;
  }
  
  .portfolio-wide-item p{
    font-size:14px;
    margin-top:20px;  
  }
}

.half-bottom {
    margin-bottom: 15px;
}

a.portfolio-wide-item {
      display: block;
    position: relative;
    overflow: hidden;
 }


.portfolio-wide-item h4 {
    position: absolute;
    width: 100%;
    top: 40%;
    margin-top: -20px;
    z-index: 98;
    color: #FFFFFF;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
}

.portfolio-wide-item .overlay {
    background-color: rgba(0,0,0,0.7);
    z-index: 9;
}

.portfolio-wide-item p {
    color: rgba(255,255,255,0.5);
    position: absolute;
    width: 100%;
    top: 45%;
    margin-top: 0px;
    z-index: 98;
    text-align: center;
}

.overlay {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.search-field {
  padding: 3%;
  width: 97%;
  margin: 0 0 5px 0;
  border: 1px solid #ddd;
  margin-left: 5px;
  font-size: 16px;
}

.ebay-items {
  padding: 5px;
  background-color: #ddd;
}

p.ebay-items-heading, p.comments-heading {
  text-align: center;
  font-size: 14px;
  color: #fff;
  background-color: #333;
  padding: 10px !important;
}

.ebay-product-carousel {
  max-height: 170px;
}

.login-background {
  background-image: url("splash/splash.png");
  padding: 10px;
  min-height: 400px;
  margin-top: -20px;
  text-align: center;
  overflow: hidden;;
  height: 100%;
}

.login-background-inside {
  border-radius: 10px;
  width: 85%;
  min-height: 200px;
  height: auto;
  overflow: hidden;
  padding: 10px;
  margin: 0 auto;
  margin-top: 15%;
  background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
  background: rgba(255, 255, 255, 0.9);
}

.spinner {
  text-align: center;
}

.coming-soon {
  padding: 10px;
  text-align: center;
  background-color: #007bb6;
  width: 100%;
  color: #fff !important;
  font-size: 14px !important;
}

/* ANIMATIONS
============================================================================= */

/* leaving animations ----------------------------------------- */
/* rotate and fall */
@keyframes rotateFall {
    0%      { transform: rotateZ(0deg); }
    20%     { transform: rotateZ(10deg); animation-timing-function: ease-out; }
    40%     { transform: rotateZ(17deg); }
    60%     { transform: rotateZ(16deg); }
    100%    { transform: translateY(100%) rotateZ(17deg); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
    to      { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

/* entering animations --------------------------------------- */

/* scale up */
@keyframes scaleUp {
    from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}

.ng-enter { animation: scaleUp 1.0s both ease-in; z-index: 8888; }
.ng-leave { animation: slideOutLeft 1.0s both ease-in; z-index: 9999; }

.page-home.ng-enter { animation: scaleUp 0.5s both ease-in; }
.page-home.ng-leave { transform-origin: 0% 0%; animation: rotateFall 1s both ease-in; }

.page-play.ng-enter { animation:slideInRight 2.0s both ease-in; }
.page-play.ng-leave { animation:rotateFall 2.0s both ease-in; }

.home-button {
  height: 28px;
  width: 28px;
}

.back-button {
  display: none;
  max-width: 55% !important;
  margin-top: 1px;
  height: 28px;
  width: 60px;
}


.details-image {
  height: 50%;
}
