@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900);

* {
  font-family: 'Titillium Web', sans-serif;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.paginate_button {
  width: 88%;
}

.date_price {
  overflow: hidden;
}
.date {
  width: 58%;
  float: left;
  font-size: 13px;
  color: #888;
}
.price {
  width: 30%;
  float: left;
  font-size: 13px;
  color: #888;
}

.sneaker_title a {
  color: #888;
}

.sneaker_title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.details_slideshow {
  height: auto;
  clear: both;
  margin-bottom: 15px;
  float: left;
  border: 2px solid #ccc;
  box-shadow: 5px 5px 2.5px #aaa;
  padding: 5px;
  width: 96%;
  text-align: center;
  margin-top: 5px;
}

.swipeout {
  overflow: hidden;
  margin-bottom: 5px;
  border-bottom: 1px #eee solid;
  margin-bottom: 1px;
  width: 95%;
  margin-left: 5px;
  font-family: 'Titillium Web', sans-serif;
}

.releasesLeft {
  width: 40%;
  margin-right: 10px;
}

.releasesRight {
  width: 55%;
  text-align: left;
}

.menu-dropdown {
  text-align: center;
  width: 99%;
  height: 50px;
  font-size: 16px;
  background-color: #202428;
  color: #efefef;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  line-height: 50px;
  font-size: 12px;
  padding-left: 20px;
  padding-right: 00px;
  display: block;
  margin-top: -20px;
  margin-bottom: 15px;
  margin-left: 2px;
}

/* Tabs */
ul.tabs{
  margin: -5px;
  padding: 0px;
  list-style: none;
  font-size: 12px;
  font-family: arial;
}

ul.tabs li{
  background: none;
  color: #222;
  display: inline-block;
  padding: 20px;
  cursor: pointer;
  width: 38.5%;
  padding-top: 10px;
  font-family: arial;
}

ul.tabs li.current{
  background: #ededed;
  color: #222;
}

.tab-content{
  display: none;
  background: #ededed;
  padding: 15px;
}

.tab-content.current{
  display: inherit;
}

.responsive-image {
  height: 140px;
}

.product {
  overflow: hidden;
  margin-bottom: 5px;
  border-bottom: 1px #eee solid;
  margin-bottom: 1px;
  width: 95%;
  margin-left: 5px;
  font-family: 'Titillium Web', sans-serif;
}

.productLeft, .productRight, .releasesRight, .releasesLeft, .salesLeft {
  float: left;
}

.releasesLeft img {
  width: 100%;
  max-height: 200px;
}

.releasesLeft {
  width: 40%;
  margin-right: 10px;
}

.releasesRight {
  width: 55%;
}

.speach-left {
  float: left;
  display: inline;
  text-align: left;
  max-width: 75%;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  background-color: #FFFFFF;
  border: solid 1px #cacaca;
}

.speach-right {
  float: right;
  text-align: right;
  text-align: left;
  max-width: 75%;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  background-color: #FFFFFF;
  border: solid 1px #cacaca;
}

.blue-bubble {
  background-color: #0b84fe!important;
  color: #FFFFFF!important;
  border: none!important;
}
