/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Purple Skin CSS Rules Start                                                                        */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
a, p > a {
	color: #a992e2;
}
.currentPageNumber, .currentPageNumber:hover {
	background-color: #a992e2;
}
input.errorSearchFormSubmitButton, input.errorSearchFormSubmitButton:hover {
	background-color: #a992e2;
}
.portfolioOneItemImageWrapper, .portfolioOneFilterableWrapper .portfolioFilterableItemImageWrapper {
	border-color: #a992e2;
}
.portfolioMenuWrapper .currentPortfolioFilter {
	color: #a992e2;
}
.portfolioOneExpandButton, .portfolioFilterableExpandButton, .singleProjectExpandButton {
	background-image: url(../../images/skins/purple/portfolioExpandButtonBg.png);
}
.portfolioOneDetailsButton, .portfolioFilterableDetailsButton, .singleProjectDetailsButton {
	background-image: url(../../images/skins/purple/portfolioDetailsButtonBg.png);
}
.smallPostMoreButton {
	background-image: url(../../images/skins/purple/smallPostReadMoreButtonBg.png);
}
input.contactSubmitButton, input.contactSubmitButton:hover {
	background-color: #a992e2;
}
input.commentSubmitButton, input.commentSubmitButton:hover {
	background-color: #a992e2;
}
.accordionButton .accordionButtonIcon {
	background-image: url(../../images/skins/purple/accordionButtonBg.png);
}
@media (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2) {
.portfolioOneExpandButton, .portfolioFilterableExpandButton, .singleProjectExpandButton {
	background-image: url(../../images/skins/purple/portfolioExpandButtonBg-x2.png);
}
.portfolioOneDetailsButton, .portfolioFilterableDetailsButton, .singleProjectDetailsButton {
	background-image: url(../../images/skins/purple/portfolioDetailsButtonBg-x2.png);
}
.smallPostMoreButton {
	background-image: url(../../images/skins/purple/smallPostReadMoreButtonBg-x2.png);
}
.accordionButton .accordionButtonIcon {
	background-image: url(../../images/skins/purple/accordionButtonBg-x2.png);
}
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Purple Skin CSS Rules End                                                                          */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
