<div id="pages_maincontent" style="margin-top:-60px">

  <div class="" ng-show="showConfirmation == true">
    <h6> {{confirmation}} </h6> <br/>
  </div>

  <h2 class="page_subtitle">Update your account </h2>

  <h2 id="Note"></h2>
  <div class="contactform">
  <form class="cmxform" id="ContactForm" method="post" action="" novalidate="novalidate">
  
  <label>Your Email Address:</label>
  <input type="text" name="username" class="form_input required" ng-model="account.email">
  
  <label>Phone: (NO SPACES OR HYPHENS)</label>
  <input type="text" name="phone" value="" class="form_input required email" ng-model="account.phone_number">
  
  <label>Carriers</label>
  <select class="carrier" data-theme="c" ng-model="account.carrier">
    <option value="1">AT&T</option>
    <option value="2">Verizon</option>
    <option value="3">T-Mobile</option>
    <option value="4">Sprint</option>
    <option value="5">Virgin Mobile</option>
    <option value="6">US Cellular</option>
    <option value="7">Nextel</option>
    <option value="8">Boost</option>
    <option value="9">Alltel</option>
  </select>

  <br/><br/>
  <a href="# "class="button_full" ng-click="updateAccount(account)"> Save Changes</a>


  <label id="loader" style="display:none;"><img src="images/loader.gif" alt="Loading..." id="LoadingGraphic"></label>
  </form>


<br/><br/>
<div class="">
  <h1 style="">Information</h1>
  SoleInsider {{version}}
</div>

</div>
  
