<div class="panel grey" ng-cloak ng-show="show_featured == true" style="text-align:center;min-height:1400px">
  <span style="font-weight:bold;">Coupons</span>
</div>

<div ng-repeat="c in coupons" class="product">

  <div class="productImages">
    <img src="{{c.logo}}" class="productImage" />
  </div>

  <div class="productDetails">
    <span class="product_title">{{c.name}}</span>
    <br/>
    <span class="product_title">{{c.description}}</span>
    <br/>
    <h4>{{c.coupon}}</h4>
    <a class="button  green" href="{{c.website}}"> Use Coupon</a>
  </div>

  <br/>

</div>
