<div class="h-banner animated fadeindown">
  <div class="parallax"> </div>
  <div class="news-main animated"> <img alt="" src="http://soleinsider.com/public/products/{{slideshow[0].image}}">
    <div class="opacity-overlay-black"> </div>
    <div class="top-news">
      <h4 class="top-news-title">
        {{r.name}}
      </h4>
      <span class="top-news-category">{{r.release_date}}</span>
      <div class="clr"> </div>
    </div>
  </div>
</div>
<div class="p-10 details-body">
  <div class="details-info">
    <div ng-repeat="f in slideshowlist"> <img ng-src="http://soleinsider.com/public/products/{{f.image}}" class="max-images" /> </div>
    <br/>
    <div class="details">
      <div class="details-left">
        <div ng-if="r.coming_soon == 1"> Coming Soon </div>
        <div ng-if="r.coming_soon == 0"> {{r.release_date}}
          <div ng-if="r.price != '0.00'">${{r.price}} </div>
          <div ng-if="r.price == 0.00">$N/A </div> <span class="view-count"> {{views}} Views </span> </div>
      </div>
    </div>
  </div>
  <div> <a href="#" ng-click="buyProduct($event, r)" ng-if="r.showBuyLink" class='waves-effect btn primary-color fullwidth'>  Buy</a> <a href="#" ng-click="openSiteLink($event, r)" class='waves-effect btn primary-color fullwidth'>  View Full Post </a>
    <div>
      <div class="details-vote">
        <div class="details-vote-right" ng-click="sneakerRating($event, r,'yes')"> <a href="#">  Cop ({{r.yes_percentage}}%)</a> </div>
        <div class="details-vote-left" ng-click="sneakerRating($event, r,'no')"> <a href="#"> Pass ({{r.no_percentage}}%)</a> </div>
      </div> <br/> </div>
    <div class="details">
      <div class="details-center">
        <div id="resale-gage" class="gage"></div>
      </div>
      <div class="details-center">
        <div id="popularity-gage" class="gage"></div>
      </div>
    </div>
    <div class="comments">
      <h3 class="uppercase">{{comments.length}} Comments</h3>
      <ul class="comments-list">
        <li ng-repeat="comment in comments | filter:filterComments">
          <img ng-src="images/profiles/{{comment.profile_image}}" class="details-avatar">
          <div class="comment-body">
            <span class="author uppercase" ng-if="comment.email.length > 0"> {{comment.email.substr(0,6)}}</span>
            <span class="author uppercase" ng-if="isUndefined(comment.email)"> SoleInsider User</span>
            <div class="date">{{comment.comment_date}}</div>
            <div>
            <p> {{comment.comment}}</p>
          </div>
          </div>
        </li>

        <textarea id="textarea1" class="materialize-textarea" placeholder="Write your comment..." ng-model="new_comment"></textarea> </li>
        <a href="#" class='waves-effect btn primary-color fullwidth' ng-click="submitComment($event)"> Leave Comment </a>
      </ul>
    </div>
