<!-- page content wrapper starts -->
<div class="pageContentWrapper" style="margin-top:-19px">
  <div class="normal-div_ product-carousel m-carousel m-fluid m-carousel-photos" style="width:100%;min-height:200px">
    <div class="normal-div_ m-carousel-inner featuredImageDiv overflowVisible">
      <div class="normal-div_ m-item overflowVisible" ng-repeat="f in slideshow" product-images-directive>
        <img ng-src="http://soleinsider.com/public/products/{{f.image}}" class="maxWidth details-image">
        <br/>
      </div>
    </div>
    <!-- the controls -->
    <div class="m-carousel-controls m-carousel-hud">
      <a class="m-carousel-prev" href="#" data-slide="prev">Previous</a>
      <a class="m-carousel-next" href="#" data-slide="next">Next</a>
    </div>
  </div>
  <a href="#" ng-click="buyProduct(r)" ng-show="r.showBuyLink" class='details-actions-buy'> <i class="fa fa-shopping-cart"></i> &nbsp; Buy</a>
  <div class='details-actions button_small'> <i class="fa fa-eye"></i> &nbsp; Views ({{views}})</div>
 <div class="product-details" style="padding:10px;">
   <div class="product-details-left">
    <span style="font-weight:bold">{{r.name}}</span>
    <br/>
    <div ng-show="r.coming_soon == 1">
      Coming Soon
    </div>
    <div ng-show="r.coming_soon == 0">
      {{r.release_date}}  <br/>
      <div ng-show="r.price != '0.00'">${{r.price}} </div>
      <span ng-show="r.price == 0.00">$N/A </span>
    </div>
    </div>
    <div class="product-details-right">
      <div id="popularity-gage" style="width:150px; height:70px"></div>
    </div>
</div>
<div style="text-align:left">
  
  <div style="overflow:hidden;padding:0px;margin-top:-8px">
    <div class="button_small_yes" ng-click="sneakerRating(r,'yes')">
      <a> Cop ({{r.yes_percentage}}%)</a>
    </div>
    <div class="button_small_no" ng-click="sneakerRating(r,'no')">
      <a> Drop ({{r.no_percentage}}%)</a>
    </div>
  </div>
  <div style="overflow:hidden;float:left;width:100%">
    <a data-product-id='{{r.product_id}}' class='details-actions button_small' ng-click="addReminder(r)"> <i class="fa fa-clock-o"></i> &nbsp; Remind Me</a>
    <a href="{{r.link}}" class="details-actions button_small" ng-show="build == 'android'" ng-click="share($event, r)"> <i class="fa fa-share-alt"></i> &nbsp; Share This </a><br/><br/> 
  </div>
</div>
<!-- Comments -->
<!-- <p class="ebay-items-heading"> Comments ({{comments.length}}) </p> -->
<div id="tab-2" class="tab-content current">
  <div id="comments"> <br/>
    <div ng-repeat="comment in comments" class="commentDiv">
      <div class="clear"></div>
      <div class="speach-center" style="margin-bottom:15px">
        <p>{{comment.comment}}</p>
        <p> - {{comment.email.substr(0,6)}} ****** <br/> {{comment.comment_date}}</p>
      </div>
    </div>
    <br/><br/><br/><br/><br/><br/>
    <textarea style="width:100%;height:90px" class="blue" ng-model="new_comment">
    </textarea>
    <br/> <br/>
  </div>
      <a href="#" class="button_small" ng-click="submitComment($event)" style="width:90%">
    <i class="fa fa-comments-o"> </i> &nbsp; Leave Comment</a>
</div>
</div>