<div class="portfolio-wide half-bottom">
    <a href="#/hub/yeezy" class="swipebox portfolio-wide-item" title="Your caption here!">
         <h4><br/> Yeezy </h4>
        <p></p>
        <div class="overlay"></div>
       <img class="responsive-image" src="images/2w.jpg" alt="img">
    </a>
    <a href="#/hub/jordan" class="swipebox portfolio-wide-item" title="Your caption here!">
        <h4><br/>Air Jordan</h4>
        <p></p>
        <div class="overlay"></div>
        <img class="responsive-image" src="images/0w.jpg" alt="img">
    </a>
    <a href="#/hub/nike" class="swipebox portfolio-wide-item" title="Your caption here!">
        <h4><br/>Nike</h4>
        <p></p>
        <div class="overlay"></div>
        <img class="responsive-image" src="images/3w.jpg" alt="img">
    </a>
    <a href="#/hub/adidas" class="swipebox portfolio-wide-item" title="Your caption here!">
        <h4><br/>Adidas</h4>
        <p></p>
        <div class="overlay"></div>
        <img class="responsive-image" src="images/4w.jpg" alt="img">
    </a>
 
</div>