<div class="portfolio-wide half-bottom">
    <a href="#/store" class="swipebox portfolio-wide-item" title="Your caption here!">
        <h4><br/>Sneaker Store</h4>
        <p></p>
        <div class="overlay"></div>
        <img class="responsive-image" src="images/0w.jpg" alt="img">
    </a>
    <a href="#/releases" class="swipebox portfolio-wide-item" title="Your caption here!">
        <h4><br/>Releases</h4>
        <p></p>
        <div class="overlay"></div>
        <img class="responsive-image" src="images/1w.jpg" alt="img">
    </a>
    <a href="#/restocks" class="swipebox portfolio-wide-item" title="Your caption here!">
        <h4><br/>Restocks</h4>
        <p></p>
        <div class="overlay"></div>
        <img class="responsive-image" src="images/2w.jpg" alt="img">
    </a>
    <a href="#/news" class="swipebox portfolio-wide-item" title="Your caption here!">
        <h4><br/> News</h4>
        <p></p>
        <div class="overlay"></div>
        <img class="responsive-image" src="images/3w.jpg" alt="img">
    </a>
    <a href="#/login" class="swipebox portfolio-wide-item" title="Your caption here!">
        <h4><br/>Login</h4>
        <p></p>
        <div class="overlay"></div>
        <img class="responsive-image" src="images/4w.jpg" alt="img">
    </a>
</div>