<div class="portfolio-wide half-bottom">
<a href="#/store" class="swipebox portfolio-wide-item" title="Your caption here!">
    <h3>Sneaker Store</h3>
    <p>Stock up on kicks!</p>
    <div class="overlay"></div>
    <img class="responsive-image" src="images/1w.jpg" alt="img">
</a>
<a href="#/releases" class="swipebox portfolio-wide-item" title="Your caption here!">
    <h3>Releases</h3>
    <p>This is a wide item, just tap it to read more</p>
    <div class="overlay"></div>
    <img class="responsive-image" src="images/4w.jpg" alt="img">
</a>
<a href="#/restocks" class="swipebox portfolio-wide-item" title="Your caption here!">
    <h3>Restocks</h3>
    <p>This is a wide item, just tap it to read more</p>
    <div class="overlay"></div>
    <img class="responsive-image" src="images/6w.jpg" alt="img">
</a>
<a href="#/news" class="swipebox portfolio-wide-item" title="Your caption here!">
    <h3>News</h3>
    <p>This is a wide item, just tap it to read more</p>
    <div class="overlay"></div>
    <img class="responsive-image" src="images/8w.jpg" alt="img">
</a>
<a href="#/login" class="swipebox portfolio-wide-item" title="Your caption here!">
    <h3>Login</h3>
    <p>This is a wide item, just tap it to read more</p>
    <div class="overlay"></div>
    <img class="responsive-image" src="images/8w.jpg" alt="img">
</a>
</div> 