<div style="margin-top:0px;margin-bottom:10px;padding:5px" ng-show="show_loading == false">
  We update our gallery every 5 minutes with the freshest sneaker photos on the gram.
</div>
<div ng-cloak ng-show="show_loading == true" class="spinner">
  <img src="images/spinner.gif"/>
</div>

<ul id="photoslist" class="photo_gallery_11" >
    <li class="" ng-repeat="img in images">
    <a rel="gallery-3" href="{{img.image}}" title="Photo title" class="swipebox">
        <img src="{{img.image}}" class="instagramImage" style="width:100%" />
    </a>
    </li>
</ul>