<div class="login-page bg3" ng-show="showLogin == true">
  <div class="login-page-overlay"></div>
  <div class="login-page-wrapper">
    <p>
      Login to Your SoleInsider Account Below
    </p>
    <input type="text" class="login-username" placeholder="username" ng-model="account.email">
    <input type="password" class="login-password" placeholder="password" ng-model="account.password">
    <div class="one-half">
      <a href="#" class="button button-green" ng-click="login(account,$event)">Login</a>
    </div>
    <div class="one-half last-column">
      <a href="#/signup" class="button button-blue" ng-click="login(account)" >Signup</a>
    </div>
    <div class="clear"></div>
    <a class="forgot" href="#">Forgot Password?</a>
  </div>
</div>
<div id="pages_maincontent" ng-show="showLogin == false" style="margin-top:0px" class="static-notification-blue">
  <p class="center-text uppercase"> <br/>You are logged in as {{username}} <br/>
    <a  class='button button-light' ng-click="logout()">Logout</a>
  </p>
</div>