<div class="login-background">
  <div class="login-background-inside contactform" style="text-align:center">
    <div ng-show="showLogin == true" ng-model="account">
      <br/>
      <h2 class="page_subtitle"> Login </h2>
      <label>Email:</label>
      <input type="text" name="username" class="form_input" ng-model="account.email">
      <label>Password:</label>
      <input type="password" name="phone" value="" class="form_input email" ng-model="account.password">
      <br/><br/>
      <a href="#" class="button_small" ng-click="doLogin($event, account)"> Login </a>
      <a href="#/signup"  class='button_small'> Signup</a>
    </div>
  </div>
  <div id="pages_maincontent" ng-show="showLogin == false" class="static-notification-blue" style="margin-top:-30px;">
    <p class="center-text uppercase" style="text-align:center"> <br/>You are logged in as {{username}} <br/> <br/>
      <a class='button_small' ng-click="logout()">Logout</a>
    </p>
  </div>
</div>
</div>