<div style="margin-top:0px;margin-bottom:10px;padding:5px;text-align:center">
  Click where you would like to go
</div>

<div style="margin:0 auto;text-align:center">
	<div class="more-container"><a href="#/login">My Releases</a></div>
	<div class="more-container"><a href="#/login">My Restocks</a></div>
	<div class="more-container"><a href="#/finder">Store Finder</a></div>
	<div class="more-container"><a href="#/social">Social</a></div>
	<div class="more-container"><a href="#/login">Login</a></div>
</div>