<div class="panel grey" ng-cloak ng-show="show_featured == true" style="text-align:center">
	<span style="font-weight:bold;"> My Restocks  </span>        	
</div>

<div class="panel yellow" ng-show="showerror == true">
	{{errorMessage}}
</div>


<div class="panel grey">
<a href="#/restocks" class="button btn btn-primary red span6" style="float:left:width:50%"> Restocks </a>
<a href="#/myrestocks" class="button btn btn-primary red span6" style="float:left:width:50%"> My Restocks </a>
</div>

<div ng-repeat="r in restocks" class="product">

	<div class="productImages">
		<img src="http://soleinsider.com/public/products/{{r.image}}"  class="productImage">
	</div>

	<div class="productDetails">
		<span class="product_title"> {{r.name}} </span> 
		<br/> <b class='price'>${{r.price}} </b><br/><br/>

		<button data-product-id='{{r.product_id}}' data-role="button" data-icon="star" class='addReleaseAlert red btn-primary radius' ng-click="deleteRestock(r)"> Delete Alert </button>
		
	</div>
</div>