<div ng-cloak ng-show="show_loading == true" class="spinner">
  <img src="images/spinner.gif"/>
</div>

<input type="text" ng-model="search" class="search-field" placeholder="Search" ng-show="show_loading == false"/>

<div class="" ng-repeat="r in news | filter:search" style="padding:10px">
  <div class="swipeout-content item-content" >
    <div class="post_entry">
        <h4> {{r.title}}  </h4>
        <div>
          <p ng-bind-html="r.description"></p>

       </div>

    </div>
  </div>
</div> 