<div class="h-banner h-banner-home" style="margin-bottom:20px;">
  <div class="parallax bg-releases"></div>
  <div class="banner-title">Releases</div>
</div>
<div>
  <releases-loader ng-if="show_loading == true"> </releases-loader>
  <div class="posts">
    <div vs-repeat="options">
      <div ng-repeat="r in releases track by r.id" style="clear:both;width:100%;margin-bottom:0px">
        <div ng-class="{'releasing-today': r.releasing_today == true }" ng-cloak>
          <div class="blog-fullwidth">
            <div class="blog-header">
              <div class="blog-author"> <span>{{r.name}}</span> <span class="small">{{r.release_date}} </span> </div>
            </div>
            <div class="blog-image"> <a href="#" ng-click="details($event, r)">
                <img ng-src="http://soleinsider.com/public/products/mobile/{{r.image}}" class="lazy-load"/>
              <a>
              <a href="#" ng-click="details($event, r)">
                <div class="opacity-overlay-top"></div>
              </a> </div>
            <div class="blog-preview p-10"> <a href="#" class="waves-effect btn primary-color fullwidth" ng-if="r.link.length > 0" ng-click="buyProduct($event, r)"> Buy Now </a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
