<br/>

<div ng-cloak ng-show="show_loading == true" >
  <div class="loading-wrapper">
    <div class="loading-item" ng-repeat="i in [1, 2, 3, 4]">
        <div class="animated-background">
            <div class="background-masker header-top"></div>
            <div class="background-masker header-left"></div>
            <div class="background-masker header-right"></div>
            <div class="background-masker header-bottom"></div>
            <div class="background-masker subheader-left"></div>
            <div class="background-masker subheader-right"></div>
            <div class="background-masker subheader-bottom"></div>
            <div class="background-masker content-top"></div>
            <div class="background-masker content-first-end"></div>
            <div class="background-masker content-second-line"></div>
            <div class="background-masker content-second-end"></div>
            <div class="background-masker content-third-line"></div>
            <div class="background-masker content-third-end"></div>
        </div>
    </div>
  </div>
</div>

<div class="posts">
  <div ng-repeat="(key, value) in releases" style="clear:both;width:100%;margin-bottom:0px" releases-directive>
      <div ng-class="{'releasing-today': r.releasing_today == true }" ng-repeat="r in value.products" ng-cloak>
        <div class="blog-fullwidth animated fadeinup delay-1">
            <div class="blog-header">
              <div class="blog-author">
                <span>{{r.name}}</span>
                <span class="small">{{r.release_date}} </span>
              </div>
            </div>
            <div class="blog-image">
              <a href="#" ng-click="details($event, r)">
                <img ng-src="http://soleinsider.com/public/products/mobile/{{r.image}}"/>
              <a>
              <a href="#" ng-click="details($event, r)">
                <div class="opacity-overlay-top"></div>
              </a>
            </div>
            <div class="blog-preview p-10">
                <a href="/" class="waves-effect waves-light btn primary-color" ng-show="r.showBuyLink" ng-click="buyProduct($event, r)"> Buy Now </a>
            </div>
          </div>
  </div>
</div>


<!--
<div class="feature-list">
    <div class="feature-list-image">
      <a href="#" ng-click="details($event, r)">
        <img ng-src="http://soleinsider.com/public/products/mobile/{{r.image}}"/>
      </a>
    </div>
    <div class="feature-list-title">
      <h6>{{r.name}}</h6>
      <p class="light">
        <div class="date" ng-show="{{!r.releasing_today}}">{{r.release_date}} <br/></div>
        <div class="date" ng-show="{{r.releasing_today}}"> Releasing Today! <br/></div>
      </p>
      <a href="/" class="waves-effect waves-light btn primary-color" ng-show="r.showBuyLink" ng-click="buyProduct($event, r)"> Buy Now </a>
    </div>
  </div>
</div> -->
