<div ng-cloak ng-show="show_loading == true" class="spinner">
  <img src="images/spinner.gif"/>
</div>
<br/>
<input type="text" ng-model="search" class="search-field" placeholder="Search" ng-show="show_loading == false" style="display:none" />
<ul class="posts" style="margin-top:-45px">
  <div ng-repeat="(key, value) in releases" style="clear:both;width:100%;margin-bottom:0px" releases-directive>
    <div class="swipeout" ng-class="{'releasing-today': r.releasing_today == true }" ng-repeat="r in value.products | filter:filterReleases | filter: search" ng-cloak>
      <div class="swipeout-content item-content" >
        <div class="post_entry">
          <div class="post_thumb">
            <a href="#" ng-click="details($event, r)">
              <img ng-src="http://soleinsider.com/public/products/mobile/{{r.image}}"/>

            </a>
          </div>
          <div class="post_details">
            <h4 class="sneaker_title">
            <a href="#" ng-click="details($event, r)"> 
              {{r.name}}</a>
            </h4>
            <div class="date_price">
              <div class="date" ng-show="{{!r.releasing_today}}">{{r.release_date}} <br/></div> 

              <div class="date" ng-show="{{r.releasing_today}}"> Releasing Today! <br/></div>

              <div ng-show="r.yes_percentage >= 90">
                <img src="images/fire.png" style="width:12px;height:12px"/>
                <img src="images/fire.png" style="width:12px;height:12px"/>
                <img src="images/fire.png" style="width:12px;height:12px"/>
                <img src="images/fire.png" style="width:12px;height:12px"/>
                <img src="images/fire.png" style="width:12px;height:12px"/>
              </div>


              <a href="" class="button_small_buy" ng-show="r.showBuyLink" ng-click="buyProduct($event, r)"> Buy Now </a>
            </div>
          </div>
        </div>
      </div>
    </li>
  </div>
</div>
<br/>
<!-- <h3 class="page_subtitle coming-soon" ng-show="coming.length > 0" ng-show="show_coming == true"> No Release Date Yet </h3> -->
<li class="swipeout" ng-repeat="r in coming | filter: search" ng-cloak ng-show="show_coming == true">
  <div class="swipeout-content item-content" >
    <div class="post_entry">
      <div class="post_thumb">
        <a href="#" ng-click="details($event, r)">
          <img ng-src="http://soleinsider.com/public/products/mobile/{{r.image}}"/>
        </a>
      </div>
      <div class="post_details">
        <h4 class="sneaker_title"> <a href="#" ng-click="details($event, r)"> {{r.name}} </a> </h4>
        <p> Release date coming soon </p>
        <div ng-show="r.yes_percentage >= 90">
          <img src="images/fire.png" style="width:12px;height:12px"/>
          <img src="images/fire.png" style="width:12px;height:12px"/>
          <img src="images/fire.png" style="width:12px;height:12px"/>
          <img src="images/fire.png" style="width:12px;height:12px"/>
          <img src="images/fire.png" style="width:12px;height:12px"/>
        </div>
      </div>
    </div>
  </div>
</li>
</ul>