<div ng-repeat="(key, value) in releases" class="">

  <div class="panel grey" style="text-align:center;padding:10px;font-size:24px">
    <span style="font-weight:bold">{{value.month}}</span>
    <hr/>
  </div>

    <!-- page content wrapper starts -->
    <div ng-repeat="r in value.products | filter:filterReleases">
    <div class="pageContentWrapper"> 
      <!-- page title starts -->
      <div style="float:left;width:43%">
        <img src="http://soleinsider.com/public/products/{{r.image}}" width="100%" />
        <br/>
        <span ng-show="r.showBuyLink == false">
        <a data-product-id='{{r.product_id}}' class='buttonWrapper buttonBlack' style="padding:10px;width:40px;text-align:center" ng-click="details(r)"> Info </a>

        <a data-product-id='{{r.product_id}}' class='buttonWrapper buttonBlack' style="padding:10px;width:40px;text-align:center" ng-click="buyNow(r)"> Buy </a>
        </span>
      </div>

      <div style="float:right;width:55%">
        <div class="productDetails" style="=text-align:center">
          <span class="" style="font-size:12px">{{r.name}} </span>
          <br/>
          <span class='date' style="font-size:11px">{{r.release_date}}</span>
          <br/> <span class='price'>${{r.price}} </span>
          <br/><br/><br/>


          <a class='buttonWrapper buttonGreen' ng-click="sneakerRating(r,'yes')"> Hot ({{r.yes_percentage}}%)</a>

          <a class='buttonWrapper buttonRed' ng-click="sneakerRating(r,'no')"> Wack ({{r.no_percentage}}%)</a>

        </div>
      </div>
    </div>
    </div>
    <br/>
    <!-- page content wrapper ends --> 

       <br/>
    </div>
    <!-- page content wrapper starts -->
      <div class="panel grey" style="text-align:center;padding:10px;font-size:24px" ng-cloak>
      <span style="font-weight:bold">Coming Soon</span>
      <hr/>
    </div>
    
    <div ng-repeat="r in coming">
    <div class="pageContentWrapper"> 
      <!-- page title starts -->
      <div style="float:left;width:40%">
        <img src="http://soleinsider.com/public/products/mobile/{{r.image}}" width="100%" />
        <br/>
        <span ng-show="r.showBuyLink == false">
        <a data-product-id='{{r.product_id}}' class='buttonWrapper buttonBl' style="padding:10px;width:70px;text-align:center" ng-click="details(r)"> Details </a>
        </span>
      </div>

      <div style="float:right;width:60">
        <div class="productDetails">
          <span class="product_title" style="font-size:12px">{{r.name}}</a>
          </span>
          <br/>
          <span class='date' style="font-size:11px">{{r.release_date}}</span>
          <br/> <span class='price'>${{r.price}} </span>
          <br/><br/><br/>


          <a class='buttonWrapper buttonDefault' ng-click="sneakerRating(r,'yes')"> Hot ({{r.yes_percentage}}%)</a>

          <a class='buttonWrapper buttonRed' ng-click="sneakerRating(r,'no')"> Wack ({{r.no_percentage}}%)</a>

        </div>
      </div>