   <!-- page content wrapper starts -->
    <div ng-repeat="r in restocks">
    <div class="pageContentWrapper"> 
      <!-- page title starts -->
      <div style="float:left;width:50%">
        <img src="http://soleinsider.com/public/products/mobile/{{r.image}}" width="100%" />
        <br/>
      </div>

      <div style="float:right;width:45%">
        <div class="productDetails">
          <span class="product_title" style="font-size:12px">{{r.name}}</a>
          </span>
          <br/>

          <div class="value">${{r.price}}</div>
           <a data-product-id='{{r.product_id}}' class='buttonWrapper buttonBlack' ng-click="addReminder(r)">Watch these sneakers</a>
          </div>
          <br/><br/><br/>
        </div>
      </div>
    </div>
    </div>
    <br/>
    <!-- page content wrapper ends -->