<ul class="posts" style="margin-top:0px">

  <li class="swipeout" ng-repeat="r in restocks" style="clear:both;width:100%;margin-bottom:0px"
    <div class="swipeout-content item-content" >
      <div class="post_entry">

          <div class="post_thumb"><img src="http://soleinsider.com/public/products/{{r.image}}" alt="" title=""></div>
          <div class="post_details">
          <h4> {{r.name}}  </h4>
          <span class='price'>${{r.price}} </span> <br/><br/>
            <a data-product-id='{{r.product_id}}' class='button_small' ng-click="addReminder(r)">Watch these sneakers</a>
          </div>
      </div>
    </div>
  </li>  
</ul>