<div class="panel red" ng-show="showerror == true">
	{{errorMessage}}
</div>

<div class="panel yellow" ng-show="showmsg == true">
	{{success_message}}
</div>

<div ng-repeat="r in restocks" class="product">

	<div class="productImages">
		<img src="http://soleinsider.com/public/products/{{r.image}}"  class="productImage">
	</div>

	<div class="productDetails">
		<span class="product_title"> {{r.name}} </span> <br/>
		<b class='price'>${{r.price}} </b><br/>
		<button data-product-id='{{r.product_id}}' data-role="button" data-icon="star" class='addReleaseAlert btn btn-primary radius' ng-click="addReminder(r)">Watch these </button>
	</div>
</div>
