<div class="h-banner animated fadeindown">
  <div class="parallax primary-color"> </div>
  <div class="banner-title">Sales</div>
</div>
</div>
<div class="animated fadeinup page">
  <releases-loader ng-show="show_loading == true"> </releases-loader>
  <div ng-repeat="r in sales | filter:formatPrice" class="shop-category center-align animated fadeinup delay-1">
    <div class="category-image"> <img ng-src="{{r.image}}" alt="">
      <a href="/" ng-click="buyProduct(r)">
        <div class="opacity-overlay"></div>
      </a>
    </div>
    <div class="category-preview p-20">
      <h6 class="uppercase">{{r.name}}</h6>
      <h5 class="price">${{r.price}}</h5>
      <div class="rating"> </div> <a href="/" ng-click="buyProduct(r)" class="waves-effect waves-light btn primary-color">Buy</a> </div>
  </div>
</div>
