<div ng-cloak ng-show="show_loading == true" class="spinner">
  <img src="images/spinner.gif"/>
</div>

<ul class="posts" style="margin-top:0px">
  <li ng-repeat="r in sales | filter:formatPrice" style="clear:both;margin-bottom:10px"
    <div class="swipeout-content item-content" >
      <div class="post_entry">
        <div class="post_thumb">
        <a ng-click="buyProduct(r)">
          <img ng-src="{{r.image}}" alt="" title="">
        </a>
        </div>
        <div class="post_details">
            <span class="product_title">{{r.name}}</span>
            <br/> <b class='price'>${{r.price}} </b>
          <br/><br/> 
          <a class="button_small_buy" ng-click="buyProduct(r)"> Details </a>
        </div>
      </div>
    </div>
  </li>
</ul>
