<div class="h-banner animated fadeindown">
  <div class="parallax primary-color"> </div>
</div>
<div class="login-form animated fadeinup delay-2 z-depth-1">
  <h1>Signup</h1>
  <div ng-if="showLogin == true" ng-model="newaccount">
    <div class="input-field">
      <i class="ion-md-contact prefix"></i>
      <input type="text" id="login" ng-model="newaccount.username">
      <label for="login">Username</label>
    </div>
    <div class="input-field">
      <i class="ion-md-call prefix"></i>
      <input type="text" id="login" ng-model="newaccount.phone_number">
      <label for="login"> Phone Number For Alerts:</label>
    </div>
    <div class="input-fields" style="margin-bottom:20px;">
      <label>Carrier</label>
      <select class="browser-default" id="login-carriers" ng-model="newaccount.carrier">
        <option value="1">AT&T</option>
        <option value="2">Verizon</option>
        <option value="3">T-Mobile</option>
        <option value="4">Sprint</option>
        <option value="5">Virgin Mobile</option>
        <option value="6">US Cellular</option>
        <option value="7">Nextel</option>
        <option value="8">Boost</option>
      </select>
    </div>
    <div class="input-field" style="margin-bottom:20px;">
      <i class="ion-md-lock prefix"></i>
      <input id="login-psw" type="password" ng-model="newaccount.password">
      <label for="login-psw">Password</label>
    </div>
    <a class="waves-effect waves-light btn-large accent-color width-100 m-b-20 animated bouncein delay-4" href="#" ng-click="register($event, newaccount)">Signup</a>
  </div>
  <div ng-if="showLogin == false">
    You are logged in as {{username}}
    <br/><br/><br/>
    <a class='waves-effect waves-light btn-large accent-color width-100 m-b-20 animated bouncein delay-4' ng-click="logout()">Logout</a>
  </div>
</div>
