<div style="padding:20px;margin: 0 auto; text-align:center">
	<h1 style="background-color:#333;color:white;padding:10px;font-size:20px"> Follow Us! </h1> <br/>
	<div style="margin-bottom: 15px;float:left;width:49%"> 
		<a href="#" target="blank" ng-click="openLink($event, 'https://www.youtube.com/channel/UC93B-5jj6sd-kpKRfwWe-Bg')">
			<img src="images/social/youtube.png"> 
		</a> 
	</div>
	<div style="margin-bottom: 15px;float:left;width:49%"> 
		<a href="#" target="blank" ng-click="openLink($event, 'https://www.instagram.com/soleinsider/')">
			<img src="images/social/instagram.png"> 
		</a> 
	</div>
	<div style="margin-bottom: 15px;float:left;width:49%"> 
		<a href="#" target="blank" ng-click="openLink($event, 'http://soleinsider.tumblr.com/')">
			<img src="images/social/tumblr.png"> 
		</a> 
	</div>
	<div style="margin-bottom: 15px;float:left;width:49%"> 
		<a href="#" target="blank" ng-click="openLink($event, 'https://twitter.com/soleinsider')">
			<img src="images/social/twitter.png"> 
		</a> 
	</div>
		<div style="margin-bottom: 15px;float:left;width:49%"> 
		<a href="#" target="blank" ng-click="openLink($event, 'https://www.facebook.com/soleinsider/')">
			<img src="images/social/facebook.png"> 
		</a> 
	</div>
		<div style="margin-bottom: 15px;float:left;width:49%"> 
		<a href="#" target="blank" ng-click="openLink($event, 'https://www.pinterest.com/soleinsider/')">
			<img src="images/social/pinterest.png"> 
		</a> 
	</div>
</div>