<div class="h-banner animated fadeindown">
  <div class="parallax primary-color"> </div>
  <div class="banner-title">Your Soleinsider Stats</div>
</div>
</div>
<div>
  <div class="single-news animated fadeinright delay-2">
    <h4 class="single-news-title"> Comments Left</h4>
    <span class="single-news-channel"> {{stats.comment_count}} </span>
    <div class="clr"> </div>
  </div>
  <div class="single-news animated fadeinright delay-2">
    <h4 class="single-news-title"> Total Votes</h4>
    <span class="single-news-channel"> {{stats.release_interest_count}} </span>
    <div class="clr"> </div>
  </div>
  <div class="single-news animated fadeinright delay-2">
    <h4 class="single-news-title"> Releases Watching</h4>
    <span class="single-news-channel"> {{stats.release_alert_count}} </span>
    <div class="clr"> </div>
  </div>
</div>
