<div class="product" >
  <h1> Find sneaker spots near you. Enter your zipcode below <br/><br/>
  <input type="text" ng-model="search" class="search-field" style="margin-left:1px" placeholder="Store Search..."> </h1> <br/>
  <a ng-click="storeSearch(search)" class='button_small'>Search</a><br/><br/>
  <div class="alert" ng-show="stores.length == 0">
    <h2> No stores found </h2>
  </div>
  <br/>
</div>
</div>
<div ng-cloak ng-show="show_loading == true" class="spinner">
  <img src="images/spinner.gif"/>
</div>
<ul class="posts" style="margin-top:0px">
<li class="swipeout" ng-repeat="r in stores" style="clear:both;margin-bottom:10px"
  <div class="swipeout-content item-content" >
    <div class="post_entry">
      <div class="post_thumb"><img ng-src="{{r.image_url}}" alt="" title=""></div>
      <div class="post_details">
        <span class="product_title">{{r.name}}</span>
        <br/>
        <span ng-repeat="add in r.location.display_address">
          {{add}} <br/>
        </span>
        {{r.display_phone}}
        <br/><br/>
        <a class="button_small" ng-click="openLink(event, r.url)"> Reviews </a>
      </div>
    </div>
  </div>
</li>
</ul>