<div class="h-banner animated fadeindown">
  <div class="parallax primary-color"> </div>
  <div class="banner-title" style="text-transform: capitalize">{{type}}</div>
</div> <br/>
<releases-loader ng-show="show_loading == true"> </releases-loader>
<div ng-repeat="r in products">
  <div class="blog-fullwidth animated fadeinup delay-1">
    <div class="blog-header">
      <div class="blog-author"> <span>{{r.brandedName}}</span> </div>
    </div>
    <div class="blog-image"> <a href="#" ng-click="details($event, r)">
                <img ng-src="{{r.image.sizes.Original.url}}"/>
              </a>
      <a href="#" ng-click="buyProduct($event, r)">
        <div class="opacity-overlay-top"></div>
      </a>
    </div>
    <div class="blog-preview p-10"> <a href="/" class="waves-effect waves-light btn primary-color" ng-show="r.showBuyLink" ng-click="buyProduct($event, r)"> Buy Now </a> </div>
  </div>
</div> <button ng-click="paginate($event)" class="waves-effect waves-light btn primary-color" style="width:100%"> View More </button>
