<div class="h-banner animated fadeindown">
  <div class="parallax bg-shop"></div>
  <div class="banner-title">Shop</div>
</div>
<div class="animated fadeinup">
  <div class="shop-banner animated fadeinup"> <a href="#/store-item/sneakers">
              <img src="images/store/banner1a.jpg" alt="">
              <div class="border-overlay valign-wrapper">
                <div class="valign center width-100">
                  <h3 class="white-text">Sneakers</h3>
                </div>
              </div>
            </a> </div>
  <div class="shop-banner animated fadeinup"> <a href="#/store-item/clothing">
              <img src="images/store/banner2.jpg" alt="">
              <div class="border-overlay valign-wrapper">
                <div class="valign center width-100">
                  <h3 class="white-text">Clothing</h3>
                </div>
              </div>
            </a> </div>
  <div class="shop-banner animated fadeinup"> <a href="#/store-item/accessories">
              <img src="images/store/banner3.jpg" alt="">
              <div class="border-overlay valign-wrapper">
                <div class="valign center width-100">
                  <h3 class="white-text">Accessories</h3>
                </div>
              </div>
            </a> </div>
  <div class="shop-banner width-100 animated fadeinup"> <a href="#/store-item/sale">
              <img src="images/store/banner4.jpg" alt="">
              <div class="border-overlay valign-wrapper">
                <div class="valign center width-100">
                  <h3 class="white-text">Sale</h3>
                  <p class="white-text">50% - 70%</p>
                </div>
              </div>
            </a> </div>
</div>
