<div class="static-notification-blue">
  <p class="center-text uppercase">{{category}}</p>
</div>
<select ng-model="form.type" required ng-change="search(form.type)" class="menu-dropdown">
  <option value="Best Sellers"> Select A Category </option>
  <option ng-repeat="m in menu" value="{{m.name}}">{{m.name}}</option>
</select>

<div ng-repeat="p in products" class="product">
  
  <!-- page title starts -->
  <div class="productLeft">
    <a href="#" ng-click="details(r)">
      <img src="{{p.image.sizes.IPhone.url}}" class="shopify-image" />
    </a>
  </div>
  <div class="productRight">
    <h4 class="sneaker_title">
    <a href="#" ng-click="details(r)">{{p.name}} </a> </h4>
    <span class="price">Price {{p.priceLabel}}
      <span ng-show="p.salePriceLabel != null">
        <br/> Sales Price {{p.salePriceLabel}}
      </span>
      <span ng-show="p.salePriceRangeLabel != null">
        <br/> Sales Price Range: {{p.salePriceRangeLabel}}
      </span>
    </span>
    <br/>
    
    <a href="" ng-click="buyProduct(p)" class="button button-blue">Details</a>
  </div>
</div>
<div class="loading" ng-show="showLoading == true" style="text-align:center">
  <img src="images/status.gif" width="80px" height="80px" style="display:inline" />
</div>
<br/><br/>
<a class="button button-dark paginate_button" ng-click="paginate()" ng-show="showLoading == false"> View More </a>