<div ng-cloak ng-show="show_loading == true" class="spinner">
  <img src="images/spinner.gif"/>
</div>

<div class="youtube-subscribe-div">
	<a href="#" class="youtube-subscribe" ng-click="goToUrl($event)">
		<i class="fa fa-youtube-square fa-lg"></i> &nbsp;Subscribe To Our YouTube Channel
	</a>
</div>

<div class="" ng-repeat="r in videos | filter:search" style="padding:10px;text-align:center">
<embed-video data-ng-href="{{r.url}}" controls=0 width="98%" height="220px"><a href="{{r.url}}">Watch</a></embed-video>


</div>