/*#content{
font-family: georgia;
}

.hiddenmessage,.showBtn{
	display: none;
}

.price{
	color:green;
	font-family: georgia;
	font-weight: bold;
}



.date{
	font-family: georgia;
}

.content{
	width:50%;

}


.ui-page {
background: #eee !important;
}

#indexPage {
 background: transparent url(../img/jordan5.jpg) !important;
  color:black;
}

#loginPage {
 background: transparent url(../img/jordan5.jpg) !important;
  color:#fff;
}

#createAccountpg {
 background: transparent url(../img/jordan5.jpg) !important;
  color:#FFF;
}

#dashboard {
 background: transparent url(../img/jordan5.jpg) !important;
  color:black;	
}

.ui-pannel-inner{
	width:10px !important;
}

embed{
	max-width: 200px !important;
}*/

.panelList li{
	margin-bottom: 20px;
	border: 2px solid #ccc;
	width: 120px;
	padding: 5px;
	border-radius: 5px;
	text-align: center;;
	box-shadow: 6px 6px 4px #000;
	font-size: 14px;
	background-color: #fff;

}

.panelList li {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	text-transform: normal;
	letter-spacing: -0.1;
	line-height: 1.4em;
	color: #333;
	box-shadow: 0px 0px 0px #000;
}

.ui-page img{
	width: 300px;
}

.product_title{
	margin-bottom: -5px;
	font-family: arial;;
	color: #555 !important;
}

.price{
	color:green;
	font-family: arial;
	font-weight: bold;
}

.ui-page{
	font-family: Helvetica, Arial, sans-serif;
font-size: 18px;
font-style: italic;
font-weight: normal;
text-transform: normal;
letter-spacing: normal;
line-height: 1.4em;
}

hr{
	width: 60%;
	background-color: #222;
	color: #222;
	height: 1px;
}

.ui-panel {
    width: 11em !important;
}


